## Environment variable
##
## 1. Copy this file and name it .env
## 2. Change the environment variable to match specificity of your fair checker instance

SERVER_IP="https://fair-checker.france-bioinformatique.fr/inspect"
