*.pyc
__pycache__/
log/
data/db
.env
poetry.lock
/dist/
/static/css/.sass-cache
*.graffle
.idea
settings.json
.coverage
.ipynb_checkpoints
notebooks/.ipynb_checkpoints
.vscode
/docs/_build
*.log
metadata_dump/
notebooks/output_dir/
output_dir/
