body {
  font-family: helvetica, sans-serif;
  font-size: 14px;
}

#cy {
  //height:100%;
  //left: 0;
  //top: 0;
  //right: 0;
  //bottom: 0;
  //z-index: 999;
  //height: 100%;

    border: solid;
    border-width: 1;
    height: 100%;
}

h1 {
  opacity: 0.5;
  font-size: 1em;
}

#side_section {
    position: sticky !important;
    display: inline-block !important;
    vertical-align: top;
    max-height: max-content;
    overflow-y: auto;
    top: 0 !important;
    bottom: 0 !important;
}
