## Environment variable used knowing if the app is launched through docker or in standalone mode
## This environment variable is only here to prevent flask from checking the root of the project env file

IS_API_STANDALONE="true"
