{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<h1 class="title">About us</h1>

<div class="section">
    <h1 class="subtitle">The team</h1>
    <hr>
    <div class="content">
        FAIR-checker is developed by the interoperability working group of the French Institute for Bioinformatics :

        <ul>
            <li>Thomas Rosnet (<a
                    href="mailto:thomas.rosnet@france-bioinformatique.fr">thomas.rosnet@france-bioinformatique.fr)</a>
            </li>
            <li>Alban Gaignard (<a href="mailto:alban.gaignard@univ-nantes.fr">alban.gaignard@univ-nantes.fr</a>)</li>
            <li>Marie-Dominique Devignes (<a
                    href="mailto:marie-dominique.devignes@loria.fr">marie-dominique.devignes@loria.fr</a>)</li>
        </ul>
        <div class="block">
            The source code is accessible through GitHub https://github.com/IFB-ElixirFr/fair-checker.git. Please submit
            GitHub issues to provide feedback or ask for new features.
            and contact us for any related question.
        </div>
    </div>
</div>

<div class="section">
    <h2 class="subtitle">Acknowledments</h2>
    <hr>
    <div class="block">We are grateful to all members of the <a href="https://france-bioinformatique.fr"
            target="_blank">IFB</a> interoperability working group for providing ideas, feedback and extensive testing.
    </div>
    <div class="block">We would also like to thank M. Wilkinson and V. Emonet for their time and the shared technical
        expertise regarding automated FAIR assesment.</div>
    <div class="block">Many thanks to the Elixir and Bioschemas initiatives for promoting and supporting
        life science metadata standards and their tooling.
    </div>
</div>


{% endblock %}