{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<div class="section">
    <h1 class="subtitle">The team</h1>
    <hr>
    <div class="content">
        FAIR-checker is developed by the interoperability working group of the French Institute for Bioinformatics:

        <ul>
            <li>Thomas Rosnet (<a
                    href="mailto:thomas.rosnet@france-bioinformatique.fr">thomas.rosnet@france-bioinformatique.fr</a>)
            </li>
            <li>Alban Gaignard (<a href="mailto:alban.gaignard@univ-nantes.fr">alban.gaignard@univ-nantes.fr</a>)</li>
            <li>Marie-Dominique Devignes (<a
                    href="mailto:marie-dominique.devignes@loria.fr">marie-dominique.devignes@loria.fr</a>)</li>
        </ul>
        <div class="block">
            The source code is accessible through <a href="https://github.com/IFB-ElixirFr/fair-checker"
                target="_blank">GitHub</a>. Please submit GitHub issues to provide feedback or ask for new features,
            and contact us for any related question.
        </div>
    </div>
</div>

<div class="section">
    <h2 class="subtitle">Acknowledments</h2>
    <hr>
    <div class="content">
        <div class="block">We are grateful to all members of the <a href="https://france-bioinformatique.fr"
                target="_blank">IFB</a> interoperability working group for providing ideas, feedback and extensive testing.
            And especially to the following IFB members for their active help:

            <ul>
                <li>Frédéric de Lamotte (<a
                        href="mailto:frederic.de-lamotte@inrae.fr">frederic.de-lamotte@inrae.fr</a>)
                </li>
                <li>Suzanne Lauriou (<a href="mailto:suzanne.lauriou@france-bioinformatique.fr">suzanne.lauriou@france-bioinformatique.fr</a>)</li>
                <li>Vincent Lefort (<a
                        href="mailto:vincent.lefort@lirmm.fr">vincent.lefort@lirmm.fr</a>)</li>
            </ul>
        </div>
        <div class="block">We would also like to thank M. Wilkinson and V. Emonet for their time and the shared technical
            expertise regarding automated FAIR assesment.</div>
        <div class="block">Many thanks to the <a href="https://elixir-europe.org" target="_blank">Elixir</a> and <a
                href="https://bioschemas.org" target="_blank">Bioschemas</a> initiatives for promoting
            and supporting life science metadata standards and their tooling.
        </div>
    </div>
</div>


{% endblock %}