{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

{#<h1 class="title">About us</h1>#}



<!-- description section -->
<article id="Aims" class="message">
    <!--    <div class="message-header">-->
    <!--        <p>Aims</p>-->
    <!--    </div>-->
    <div class="message-body">
        In this work we propose a web demonstrator, aimed at i) evaluating FAIR maturity indicators and ii) providing
        hints to progress in the FAIRification process.
        <br><br>
        This web page relies on <a href="https://github.com/FAIRMetrics/Metrics" class="has-text-link" target="_blank"
                                   rel="noopener noreferrer">FAIRMetrics</a> implementation and the online APIs.
        We are grateful to Mark D. Wilkinson for is technical support on using the APIs.

        <br><br>
        FAIR-checker is funded and developed by the <a href="https://www.france-bioinformatique.fr"
                                                       class="has-text-link" target="_blank" rel="noopener noreferrer">French
        Institute for Bioinformatics (Elixir-France)</a>.
        Source code and technical issue are accessible through GitHub: <a
            href="https://github.com/IFB-ElixirFr/fair-checker.git" class="has-text-link" target="_blank"
            rel="noopener noreferrer">https://github.com/IFB-ElixirFr/fair-checker.git</a>

        <br><br>
        Main developers are Thomas Rosnet (thomas.rosnet /at/ france-bioinformatique.fr) and Alban Gaignard
        (alban.gaignard /at/ univ-nantes.fr).

        Feel free to contact us !

    </div>
</article>

<!-- description section -->
<article id="feedback" class="message is-info">
    <div class="message-header">
        <p>Feedback</p>

    </div>
    <div class="message-body">
        Feedbacks are greatly appreciated at the following link:
        <!-- </div> -->
        <!-- <div class="message-body"> -->
        <br>
        <br>
        <a href="https://github.com/IFB-ElixirFr/fair-checker/issues" target="_blank" rel="noopener noreferrer">https://github.com/IFB-ElixirFr/fair-checker/issues</a>
    </div>

</article>


{% endblock %}
