{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<script type="text/javascript" charset="utf-8">
    $( document ).ready(function() {
        console.log( "ready!" );
        $("#notif").addClass("is-hidden");

        console.log('trying to connect...');
        var socket = io.connect('http://127.0.0.1:5000');
        //var socket = io();
        console.log('connected');

        socket.on('connect', function() {
            socket.emit('hello', {data: 'I\'m connected!'});
            console.log('hello message sent');
        });

        socket.on('fast', function(value) {
            if ("done".includes(value)) {
                $("#p1").attr("value", 100);
            } else {
                console.log('received '+value+' for p1');
                $("#p1").attr("value",value);
            }
        });

        socket.on('slow', function(value) {
            if ("done".includes(value)) {
                $("#p2").attr("value", 100);
            } else {
                console.log('received '+value+' for p2');
                $("#p2").attr("value", value);
            }
        });

        socket.on('long', function(value) {
            console.log('END LONG');
            $("#notif").text(value);
            $("#notif").removeClass("is-hidden");
        });

        socket.emit('fast');
        socket.emit('slow');
        socket.emit('long');
    });
</script>

<article id="disclaimer" class="message is-warning">
    <div class="message-body">
      <b>Disclaimer:</b> FAIR-Checker is under active development and is not intended to be used yet in production environment.
    </div>
</article>

<h1 class="title">How FAIR is my resource ?</h1>
<progress id="p1" class="progress is-primary"  value="" max="100"></progress>
<progress id="p2" class="progress is-link"  value="" max="100"></progress>

<div id="notif" class="notification is-info"> <button class="delete"></button>long task done</div>

{% endblock %}
