<link rel="stylesheet" href="../static/css/bulma-divider.min.css">

{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<script type="text/javascript" charset="utf-8">

$(document).ready(function () {

    var socket = io.connect({{ config['SERVER_IP']| tojson }});

    //////////////////
    // click handlers
    //////////////////

    //////////////////
    // event handlers
    //////////////////

    socket.on('connect', function () {
        socket.emit('hello', { data: 'I\'m connected!' });
        console.log('hello message sent');
    });

});

</script>


<article class="message">
    <div id="article-bioschemas-check">
        <div class="message-body is-inspect">
            <h1 class="subtitle"><b>Bioschemas validation results</b></h1>
            <div class="block">
                <section id="section-BioSchemas" class="section">

                    <p>Bioschemas is a community effort aimed at reusing and extending Schema.org for better life
                        science digital resource findability. Several profiles are defined for each kind of Life Science
                        resources, specifying minimal, recommended or optional information. Are minimal
                        information missing ? Should other information be provided for better findability ?</p>
                    <br>

                    {% block test %}
                    {% include 'bioschemas_report.html' %}
                    {% endblock %}

                </section>

            </div>
        </div>
    </div>
</article>

{% endblock %}