<script type="text/javascript" charset="utf-8">

$(document).ready(function () {

    // console.log('trying to connect...');
    // var socket = io.connect({{ config['SERVER_IP'] | tojson }});
    // console.log('connected');    

    // socket.on('connect', function () {
    //     socket.emit('hello', { data: 'I\'m connected!' });
    //     console.log('hello message sent');
    // });


    {% if request.path == '/bioschemas_validation' %}
        console.log("Static loading");
        data = {{ results | tojson | safe }};
        validation_report_gen(data, "static");

    // {% elif request.path == '/inspect' %}
    //     console.log("Dynamic loading");
    //     socket.on('done_check_shape', function (data) {
    //         console.log("DONE !!");
    //         validation_report_gen(data, "dynamic");
    //         $("#btn_bioschemas").removeClass("is-loading");
    //         $("#btn_annot_bioschemas").removeClass("is-hidden");
    //     });
    {% endif %}

    
});

function validation_report_gen(data, generation){

    const valid_container = document.getElementById("block_valid_report");

    const hvalid_template = document.getElementById('head-valid-template').innerHTML;
    const tvalid_template = document.getElementById("table-valid-template").innerHTML;
    const tvalids_template = document.getElementById("tables-valid-template").innerHTML;
    const rvalid_template = document.getElementById("row-valid-template").innerHTML;

    let index = 0;
    $.each(data, function (key, value) {
        index++;
        var str_index = index.toString();
        let resource = key
        let type = data[key]['type']
        let profile = data[key]['ref_profile']
        let conforms = data[key]['conforms']
        let method = data[key]['method']

        if ((method != "by_conformsto") && (generation == "static")) {
            return;
        };


        var bs_logo_html = '<img src="{{ url_for("static",filename="images/hexagon_color_bs.png") }}" width="25" height="25" style="vertical-align:middle;">'
        // Validation report head
        let hvalid_rendered = Mustache.render(hvalid_template, { 
            is_method_ct: Boolean(method == "by_conformsto"),
            resource: resource,
            type: type,
            profile: profile,
            bs_logo_html: bs_logo_html
        });
        valid_container.innerHTML += hvalid_rendered;


        // Required results tables
        var trequi_index = index.toString() + "-requi-tbody"
        var treco_index = index.toString() + "-reco-tbody"
        let table_rendered = Mustache.render(tvalids_template, { 
            thead_requi: "Required missing properties",
            index_requi: trequi_index,
            thead_reco: "Improvements",
            index_reco: treco_index,

        });
        valid_container.innerHTML += table_rendered;


        // Required results table
        // var trequi_index = index.toString() + "-requi-tbody"
        // let trequired_rendered = Mustache.render(tvalid_template, { 
        //     thead: "Required missing properties",
        //     index: trequi_index,
        // });
        // valid_container.innerHTML += trequired_rendered;

        // Required results row
        let tmiss_body_container = document.getElementById(trequi_index);
        $.each(data[key]['errors'], function (index, item) {
            let row_requi_valid_rendered = Mustache.render(rvalid_template, { 
                item: item,
                class: "has-text-danger has-text-weight-bold",
                text: "must be",
            });
            tmiss_body_container.innerHTML += row_requi_valid_rendered;
        });


        // Recommended results table
        // var treco_index = index.toString() + "-reco-tbody"
        // let trecommended_rendered = Mustache.render(tvalid_template, { 
        //     thead: "Improvements",
        //     index: treco_index,
        // });
        // valid_container.innerHTML += trecommended_rendered;

        // Recommended results row
        let treco_body_container = document.getElementById(treco_index);
        $.each(data[key]['warnings'], function (index, item) {
            let row_reco_valid_rendered = Mustache.render(rvalid_template, { 
                item: item,
                class: "has-text-warning has-text-weight-bold",
                text: "should be",
            });
            treco_body_container.innerHTML += row_reco_valid_rendered;
        });

    });
};


</script>


<!-- Template validation head -->
<!-- <script id="head-valid-template" type="text/x-handlebars-template"></script> -->
<script id="head-valid-template" type="text/html">
    <hr name="bs_report_sep">
    <h5 class="subtitle" style="line-height: 1.5;">
        <p>
            <span class="tag is-info is-medium is-light">
                <a target="_blank" href="{% raw %}{{resource}}{% endraw %}">{% raw %}{{resource}}{% endraw %}</a>
            </span>
            has type 
            <span class="tag is-dark">
                <a target="_blank" href="{% raw %}{{type}}{% endraw %}">{% raw %}{{type}}{% endraw %}</a>
            </span>
        </p>
        <p>
            <div>
                {% raw %}
                {{ #is_method_ct }}

                {{{ bs_logo_html }}} 
                &nbsp;Using&nbsp;
                <span class="tag is-dark">
                    <a target=_blank href="{{profile}}">{{profile}}</a>
                </span>
                &nbsp;for validation, specified from the&nbsp;<b>dct:conformsTo</b>&nbsp;property.

                {{ /is_method_ct }}
                {{ ^is_method_ct}}

                No&nbsp;<b>dct:conformsTo</b>&nbsp;property found, using&nbsp;
                <span class="tag is-dark">
                    <a target=_blank href="{{profile}}">{{profile}}</a>
                </span>
                &nbsp;profile for validation.

                {{ /is_method_ct }}
                {% endraw %}
            </div>
        </p>
    </h5>
</script>


<!-- Template validation head for conformsTo-->
<script id="head-ct-valid-template" type="text/html">

</script>


<!-- Template validation tables required and recommended -->
<script id="tables-valid-template" type="text/html">
    <div class="columns is-multiline is-mobile">
        <div class="column is-one-half">
            <table class="table is-striped is-fullwidth">
                <thead><tr><th>{% raw %}{{thead_requi}}{% endraw %}</th></tr></thead>
                <tbody id="{% raw %}{{index_requi}}{% endraw %}"></tbody>
            </table>
        </div>
        <div class="column is-one-half">
            <table class="table is-striped is-fullwidth">
                <thead><tr><th>{% raw %}{{thead_reco}}{% endraw %}</th></tr></thead>
                <tbody id="{% raw %}{{index_reco}}{% endraw %}"></tbody>
            </table>
        </div>
    </div>
</script>


<!-- Template to generate each row of validations template -->
<script id="row-valid-template" type="text/html">
    <tr>
        <td>
            <span class="tag is-light">
                <a target=_blank href="{% raw %}{{item}}{% endraw %}">{% raw %}{{item}}{% endraw %}</a>
            </span> 
            <span class="{% raw %}{{class}}{% endraw %}">{% raw %}{{text}}{% endraw %}</span> 
            provided
        </td>
    </tr>
</script>



<!-- /!\ Not used ! Template for one table -->
<script id="table-valid-template" type="text/html">
        <div class="column is-one-half">
            <table class="table is-striped is-fullwidth">
                <thead><tr><th>{% raw %}{{thead}}{% endraw %}</th></tr></thead>
                <tbody id="{% raw %}{{index}}{% endraw %}"></tbody>
            </table>
        </div>
</script>





<div id="block_valid_report" class="block">
    <!-- <div id="block_test">

    </div>
    {{ request.path }}
    <br>
    {% if request.path == '/bioschemas_validation' %}

        {%  for key, value in results.items() %} 
            {% if value.method == 'by_conformsto' %}            
                <h1>Key: {{ key }}</h1>
                <div class="block">
                    <h5 class="subtitle"><span class="tag is-info is-light"><a target="_blank" href="{{key}}">{{key}}</a></span></h5>
                    has type <span class="tag is-dark"><a target="_blank" href="{{value.type}}">{{value.type}}</a></span>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %} -->
</div>