<script type="text/javascript" charset="utf-8">

$(document).ready(function () {

    {% if request.path == '/datacite_validation' %}
        console.log("Static loading");
        data = {{ results | tojson | safe }};
        validation_datacite_report(data);
    {% endif %}

});

function validation_datacite_report(data){
    console.log("Generating Datacite validation report");
    console.log(data);

    const valid_container = document.getElementById("block_dc_valid_report");
    const hvalid_template = document.getElementById('head-dc-valid-template').innerHTML;
    const tvalids_template = document.getElementById("tables-dc-valid-template").innerHTML;
    const rvalid_template = document.getElementById("row-dc-valid-template").innerHTML;

    var index = 0;
    $.each(data, function (key, value) {
        console.log("Processing resource: " + key);
        index++;
        var str_index = index.toString();
        var resource = key;
        var type = data[key]['type'];
        var profile = data[key]['ref_profile'];
        var conforms = data[key]['conforms'];
        var completeness_score = data[key]['completeness_score'];

        // Validation report head
        var hvalid_rendered = Mustache.render(hvalid_template, {
            resource: resource,
            type: type,
            profile: profile,
            completeness_score: completeness_score,
        });
        valid_container.innerHTML += hvalid_rendered;

        // Required/recommended results tables
        var trequi_index = str_index + "-dc-requi-tbody";
        var treco_index = str_index + "-dc-reco-tbody";
        var trinfo_index = str_index + "-dc-info-tbody";
        var table_rendered = Mustache.render(tvalids_template, {
            resource: resource,
            conforms: conforms,
            index_requi: trequi_index,
            index_reco: treco_index,
            index_info: trinfo_index,
        });
        valid_container.innerHTML += table_rendered;

        // Required (errors) rows
        var tmiss_body_container = document.getElementById(trequi_index);
        $.each(data[key]['errors'], function (index, item) {
            let row_rendered = Mustache.render(rvalid_template, {
                item: item,
                css_class: "has-text-danger has-text-weight-bold",
                text: "must be",
            });
            tmiss_body_container.innerHTML += row_rendered;
        });

        // Recommended (warnings) rows
        var treco_body_container = document.getElementById(treco_index);
        $.each(data[key]['warnings'], function (index, item) {
            let row_rendered = Mustache.render(rvalid_template, {
                item: item,
                css_class: "has-text-warning has-text-weight-bold",
                text: "should be",
            });
            treco_body_container.innerHTML += row_rendered;
        });

        // Optional (infos) rows
        var trinfo_body_container = document.getElementById(trinfo_index);
        $.each(data[key]['infos'], function (index, item) {
            let row_rendered = Mustache.render(rvalid_template, {
                item: item,
                css_class: "has-text-info",
                text: "could be",
            });
            trinfo_body_container.innerHTML += row_rendered;
        });

    });
};


</script>


<!-- Template: validation header -->
<script id="head-dc-valid-template" type="text/html">
    <hr>
    <h5 class="subtitle" style="line-height: 1.5;">
        <p>
            <span class="tag is-dark is-medium">
                <a target="_blank" href="{% raw %}{{resource}}{% endraw %}">{% raw %}{{resource}}{% endraw %}</a>
            </span>
            has type
            <span class="tag is-dark">
                <a target="_blank" href="{% raw %}{{type}}{% endraw %}">{% raw %}{{type}}{% endraw %}</a>
            </span>
        </p>
        <p>
            Validated against the Datacite profile
            <span class="tag is-dark">
                <a target="_blank" href="{% raw %}{{profile}}{% endraw %}">{% raw %}{{profile}}{% endraw %}</a>
            </span>
            &mdash; completeness score: <strong>{% raw %}{{completeness_score}}{% endraw %}%</strong>
        </p>
    </h5>
</script>


<!-- Template: required / recommended / optional tables -->
<script id="tables-dc-valid-template" type="text/html">
    <div class="columns is-multiline is-mobile">
        <div class="column is-one-third">
            <table class="table is-striped is-fullwidth">
                <thead><tr><th>Required missing properties</th></tr></thead>
                <tbody id="{% raw %}{{index_requi}}{% endraw %}"></tbody>
            </table>
            {% raw %}
            {{ #conforms }}
            <p>
                <span class="has-text-success has-text-weight-bold">All required properties are present.</span>
            </p>
            {{ /conforms }}
            {% endraw %}
        </div>
        <div class="column is-one-third">
            <table class="table is-striped is-fullwidth">
                <thead><tr><th>Recommended missing properties</th></tr></thead>
                <tbody id="{% raw %}{{index_reco}}{% endraw %}"></tbody>
            </table>
        </div>
        <div class="column is-one-third">
            <table class="table is-striped is-fullwidth">
                <thead><tr><th>Optional missing properties</th></tr></thead>
                <tbody id="{% raw %}{{index_info}}{% endraw %}"></tbody>
            </table>
        </div>
    </div>
</script>


<!-- Template: one row per missing property -->
<script id="row-dc-valid-template" type="text/html">
    <tr>
        <td>
            <span class="tag is-light">
                <a target="_blank" href="{% raw %}{{item}}{% endraw %}">{% raw %}{{item}}{% endraw %}</a>
            </span>
            <span class="{% raw %}{{css_class}}{% endraw %}">{% raw %}{{text}}{% endraw %}</span>
            provided
        </td>
    </tr>
</script>


<div id="block_dc_valid_report" class="block">
</div>
