{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<h1 class="title">Finding top priority curation needs</h1>
<p>In this demo, we randomly pick 5 entries from the catalog with missing information, and ask for curation.</p>

<section class="section">
<h2 class="subtitle">Catalog entries with missing reference publication
    <span class="tag is-light">{{ count_no_pub }}</span></h2>
    <div class="buttons">
        {% for item in missing_publication %}
        <a href="{{ item.url }}" class="button is-danger is-rounded">{{ item.title }}</a>
        {% endfor %}
    </div>
</section>

<section class="section">
<h2 class="subtitle">Catalog entries with missing EDAM annotations
    <span class="tag is-light">{{ count_no_edam }}</span></h2>
    <div class="buttons">
        {% for item in missing_edam %}
        <a href="{{ item.url }}" class="button is-warning is-rounded">{{ item.title }}</a>
        {% endfor %}
    </div>
</section>

{% endblock %}