{% extends "layout.html" %}


{% block nav %}
{% include 'nav.html' %}
{% endblock %}



{% block body %}


{#<h1 class="title">Welcome to FAIR-Checker</h1>#}

<div class="columns is-centered is-vcentered">
    <div class="column is-two-thirds">
        <div class="section">
            <h2 class="title">Welcome</h2>
            <h2 class="subtitle">FAIR-Checker is a tool aimed at assessing FAIR principles and empowering data
                provider to
                enhance the quality of their digital resources.</h2>
            <!-- <hr> -->
            <div class="block">
                <h2 class="subtitle">Data providers and consumers can <b class="has-text-ifb-green">check</b> how FAIR
                    are web resources. Developers can
                    explore and <b class="has-text-ifb-blue">inspect</b> metadata exposed in web resources.</h2>
            </div>
            <div class="block">
                <a href="{{ url_for('base_metrics') }}">
                    <p id="landing_check" class="button is-success is-large">Check&nbsp;<i
                            class="fa fa-check fa-fw"></i>
                    </p>
                </a>
                <a href="{{ url_for('kg_metrics_2') }}">
                    <p id="landing_inspect" class="button is-info is-large">Inspect&nbsp;<i
                            class="fa fa-search fa-fw"></i>
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <img src="{{ url_for('static',filename='images/fc.png') }}">
    </div>
    <!-- <div class="column is-one-quarter">
        <img src="{{ url_for('static',filename='images/ELIXIR_Node_FRANCE.png') }}">
    </div> -->
</div>

<!-- <div class="columns is-centered">
    <div class="column is-6">
        <div class="box">FAIR-Checker is a Web tool to assess FAIR principles and promote their implementation.</div>
    </div>
</div> -->

<div class="section">
    <h2 class="title">How it works ?</h2>
    <hr>
    <div class="block ">
        For each evaluated resource, FAIR-Checker builds a knowledge graph based on embedded RDF triples (microdata,
        json-ld, RDFa), as well as external knowledge provided by public SPARQL endpoints.
    </div>
    <div class="block ">
        FAIR-Checker then verifies that used ontology terms are already known in reference registries. Finally,
        leveraging on Bioschemas, the extension of Schema.org for life sciences, FAIR-Checker automatically generate
        SHACL constraints. Their evaluation informs users on missing metadata, required or recommended for specific
        types of resources (genes, proteins, training material,computational tools, etc.).
    </div>
    <div class="block ">
        The metadata assesment flow:
    </div>

    <div class="block has-text-centered">
        <figure class="image">
            <img src={{ url_for('static',filename='images/pres_fc.png' ) }}>
        </figure>
    </div>
</div>

<div class="section">
    <h2 class="title">Resources</h2>
    <hr>
    <div class="block">
        <a href={{ url_for('static',filename='images/FAIR_Checker_poster.pdf' ) }} target="_blank">
            <img src={{ url_for('static',filename='images/FAIR_Checker_poster.png' ) }} width="96">
        </a>
        Rosnet, Thomas, Lefort, Vincent, Devignes, Marie-Dominique, & Gaignard, Alban. (2021). FAIR-Checker, a web tool
        to support the findability and reusability of digital life science resources (1.0). JOBIM (JOBIM), Paris.
        <a href="https://doi.org/10.5281/zenodo.5914307" target="_blank">https://doi.org/10.5281/zenodo.5914307</a>
    </div>
    <div class="block">
        <a href={{ url_for('static',filename='images/Slides_FAIR_checker-2021.pdf' ) }} target="_blank">
            <img src={{ url_for('static',filename='images/Slides_FAIR_checker-2021.png' ) }} width="96">
        </a>
        Gaignard, Alban, Rosnet, Thomas, de Lamotte, Frédéric, & Devignes, Marie-Dominique. (2021, June 4). Automatic
        evaluation of FAIR metrics. Elixir All-Hands (Elixir All-Hands).
        <a href="https://doi.org/10.5281/zenodo.5914367" target="_blank">https://doi.org/10.5281/zenodo.5914367</a>
    </div>
</div>

<div class="section">
    <h2 class="title">Funding</h2>
    <hr>
    This project is funded by the French institute for Bioinformatics (<a href="https://france-bioinformatique.fr"
        target="_blank">IFB</a>) through the <a href="https://anr.fr/ProjetIA-11-INBS-0013" target="_blank">PIA2
        11-INBS-0013</a> grant.</a>
</div>

{% endblock %}