{% if status_vocab %}
<section class="hero is-warning">
    <div class="hero-body">
        <!-- <p class="title">
          Warning hero
        </p> -->
        <p class="subtitle">
            {% if status_bioportal != 200 %}
              <span>BioPortal is not reachable. Status code: {{ status_bioportal }}</span>
            {% endif %}
            {% if status_ols != 200 %}
              <span>OLS is not reachable. Status code: {{ status_ols }}</span>
            {% endif %}
            {% if status_lov != 200 %}
              <span>LOV is not reachable. Status code: {{ status_lov }}</span>
            {% endif %}
        </p>
      </div>
</section>
{% endif %}