<link rel="stylesheet" href="../static/css/bulma-divider.min.css">

{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<script type="text/javascript" charset="utf-8">

$(document).ready(function () {

    var socket = io.connect({{ config['SERVER_IP']| tojson }});

    socket.emit('connect', { data: 'Connecting!' });

    //////////////////
    // click handlers
    //////////////////


    // Exemple selector List
    {% for k in sample_data.keys() %}
    $("#sample_{{k}}").on("change", function () {
        $("#url").val(this.value);
        $('#sample_{{k}} option[value="{{ k }}"]').attr("selected", "selected");
    });
    {% endfor %}

    // Exemple selector Button
    $('[id^="resource_"]').on("click", function () {
        $("#url").val($(this).children("a").data("url"));
    });


    $("#btn_kg").click(function () {
        $(this).addClass("is-loading");
        $("#microdata").val("");
        // $("#nb_triples").text("0" + " triples");
        $("#kgs_len").text("");
        $('#block_valid').html("");
        $('#t_classes').html("");
        $('#t_properties').html("");
        $('#block_valid_report').html("");
        $('#vocab_interpret').hide();
        socket.emit('retrieve_embedded_annot_2', { url: $("#url").val() });
    });

    $("#btn_describe_biotools").click(function () {
        $(this).addClass("is-loading");
        graph = $("#microdata").val();
        url = $("#url").val();
        socket.emit('describe_biotools', { url: url, graph: graph });
    });

    $("#btn_describe_loa").click(function () {
        $(this).addClass("is-loading");
        graph = $("#microdata").val();
        url = $("#url").val();
        socket.emit('describe_loa', { url: url, graph: graph });
    });

    $("#btn_describe_wikidata").click(function () {
        $(this).addClass("is-loading");
        graph = $("#microdata").val();
        url = $("#url").val();
        socket.emit('describe_wikidata', { url: url, graph: graph });
    });

    $("#btn_describe_opencitation").click(function () {
        $(this).addClass("is-loading");
        graph = $("#microdata").val();
        url = $("#url").val();
        socket.emit('describe_opencitation', { url: url, graph: graph });
    });

    $("#btn_annot_bioschemas").click(function () {
        $("#article-BioSchemas-annot").removeClass("is-hidden");
    });

    $("#btn_fairness").click(function () {
        $(this).addClass("is-loading");
        $("#section-KG").removeClass("is-hidden");
        $("#section-LinkedData").removeClass("is-hidden");
        $("#section-BioSchemas").addClass("is-hidden");
        socket.emit('check_kg');
    });

    $("#btn_bioschemas").click(function () {
        $(this).addClass("is-loading");
        $("#section-KG").removeClass("is-hidden");
        socket.emit('check_kg_shape_2');
    });

    // Change RDF type button

    $('[id^="btn_rdf_"]').click(function () {
        var rdf_type = $(this).data("rdf");

        socket.emit('change_rdf_type', { rdf_type: rdf_type });
    });

    // TABS for Step 3

    $("#bioschemas_tab").click(function () {
        $(this).addClass("is-active");
        $("#linkeddata_tab").removeClass("is-active");

        $("#section-LinkedData").addClass("is-hidden");
        $("#section-BioSchemas").removeClass("is-hidden");
    });

    $("#linkeddata_tab").click(function () {
        $(this).addClass("is-active");
        $("#bioschemas_tab").removeClass("is-active");

        $("#section-LinkedData").removeClass("is-hidden");
        $("#section-BioSchemas").addClass("is-hidden");
    });


    //////////////////
    // event handlers
    //////////////////


    socket.on('send_annot_2', function (value) {
        //cm.setValue(value);
        $("#section-describe").find(".block").removeClass("is-hidden");
        $("#article-bioschemas-check").find(".block").removeClass("is-hidden");
        $("#microdata").val(value["kg"]);
        // $("#nb_triples").text(value["nb_triples"] + " triples");
        $("#btn_describe_opencitation").removeClass("is-loading");
        $("#btn_describe_wikidata").removeClass("is-loading");
        $("#btn_describe_biotools").removeClass("is-loading");
        $("#btn_describe_loa").removeClass("is-loading");
        $("#btn_kg").removeClass("is-loading");
    });

    socket.on('send_bs_annot', function (value) {
        $("#annotated_bioschemas").val(value);
    });

    socket.on('done_check', function (value) {
        var rows = '';
        $.each(value['classes'], function (index, item) {
            var row = '<tr>';
            row += '<td>' + item['name'];
            row += '<div class="tags is-pulled-right">';
            $.each(item['tag'], function (key, item) {
                if (item === true) {
                    row += ' <span class="tag is-success is-light is-pulled-right">' + key + '</span>'
                } else if (item === false) {
                    row += ' <span class="tag is-danger is-light is-pulled-right">' + key + '</span>'
                } else {
                    row += ' <span class="tag is-light is-pulled-right">' + key + '</span>'
                }
            });
            row += '</div>';
            row += '</td>';
            rows += row + '<tr>';
        });
        $('#t_classes').html(rows);

        var rows = '';
        $.each(value['properties'], function (index, item) {
            var row = '<tr>';
            row += '<td>' + item['name'];
            row += '<div class="tags is-pulled-right">'
            $.each(item['tag'], function (key, item) {
                if (item === true) {
                    row += ' <span class="tag is-success is-light is-pulled-right">' + key + '</span>'
                } else if (item === false) {
                    row += ' <span class="tag is-danger is-light is-pulled-right">' + key + '</span>'
                } else {
                    row += ' <span class="tag is-light is-pulled-right">' + key + '</span>'
                }
            });
            row += '</div>';
            row += '</td>';
            rows += row + '<tr>';
        });
        $('#t_properties').html(rows);

        // When Check Vocab is completed, do this
        if (value['done']) {
            $("#btn_fairness").removeClass("is-loading");
            var $banner_vocab = $('#vocab_interpret');
            $banner_vocab.show();
            var banner_message = '';

            if (!(value['classes_false'].length === 0)) {
                banner_message += 'The following classes are not found in registries: <br><ul>';
                for (c in value['classes_false']){
                    banner_message += '<li>' + value['classes_false'][c] + '</li>'
                }
                banner_message += '</ul> <br>'
                $banner_vocab.html(banner_message);
                $banner_vocab.parent('article').removeClass('is-success');
                $banner_vocab.parent('article').addClass('is-warning');
            }
            if (!(value['properties_false'].length === 0)) {
                banner_message += 'The following properties are not found in registries: <br><ul>';
                for (p in value['properties_false']){
                    banner_message += '<li>' + value['properties_false'][p] +  '</li>'
                }
                banner_message += '</ul><br>'
                $banner_vocab.html(banner_message);
                $banner_vocab.parent('article').removeClass('is-success');
                $banner_vocab.parent('article').addClass('is-warning');
            }
            if (!(value['properties_false'].length === 0) || !(value['classes_false'].length === 0)) {
                banner_message += 'Some terms have not been found in'
                banner_message += ' <a href="https://lov.linkeddata.es/dataset/lov/" target="_blank">LOV</a>,'
                banner_message += ' <a href="https://www.ebi.ac.uk/ols/index" target="_blank">OLS</a>,'
                banner_message += ' nor <a href="https://bioportal.bioontology.org/" target="_blank">BioPortal</a>.'
                banner_message += '<br>You can use these semantics registries to search for already existing synonyms terms, or to propose new terms (Classes or Properties) to the community'
                $banner_vocab.html(banner_message);
            }
            if ((value['properties_false'].length === 0) && (value['classes_false'].length === 0)) {
                banner_message += 'Congratulations ! All Classes and Properties are referenced in one or more of the registries checked !'
                $banner_vocab.html(banner_message)
                $banner_vocab.parent('article').removeClass('is-warning');
                $banner_vocab.parent('article').addClass('is-success');
            }

        }

    });

    socket.on('done_check_shape', function (data) {

        console.log("Bioschemas profiles validated");
        validation_report_gen(data, "dynamic");

        $("#btn_bioschemas").removeClass("is-loading");
        $("#btn_annot_bioschemas").removeClass("is-hidden");
    });


});

</script>

<!-- Step 1: fetch RDF metadata from the resource URL -->
<article class="message">
    <div class="message-body is-inspect">
        <h2 class="subtitle"><b>Step 1: fetch RDF metadata from the resource URL</b></h2>
        {% for k in sample_data.keys() %}
        <div class="field is-grouped">
            <p class="is-small">{{k}}:&nbsp;</p>
            {% for s in sample_data[k] %}
            <p id="resource_{{k}}_{{loop.index}}" class="control"><a class="button is-small is-text"
                    data-url="{{ s.url }}">{{ s.text
                    }}</a></p>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="field has-addons">
            <div class="control is-expanded">

                <div class="control has-icons-left has-icons-right">
                    <input id="url" name="url" class="input" type="text" placeholder="FAIR resource URL">
                    <span class="icon is-small is-left">
                        <i class="fa fa-link"></i>
                    </span>
                </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <a id="btn_kg" class="button is-info">Build Knowledge Graph</a>
                </p>
            </div>
        </div>
    </div>
</article>

<!-- Step 2: Enrich Graph -->
<article class="message">
    <div id="section-describe">
        <div class="message-body is-inspect">
            <h2 class="subtitle"><b>Step 2: Enrich Graph</b></h2>
            <div class="block is-hidden">
                <div class="field is-grouped is-grouped-centered">
                    <p class="control"><a id="btn_describe_wikidata" class="button is-warning">... from Wikidata</a></p>
                    <p class="control"><a id="btn_describe_opencitation" class="button is-warning">... from
                            OpenCitations</a>
                    </p>
                    <p class="control"><a id="btn_describe_loa" class="button is-warning">... from OpenAIRE</a></p>
                </div>
                <div class="control">
                    <textarea id="microdata" class="textarea is-small"
                        placeholder="Knowledge graph, in RDF, turtle syntax" rows="15"></textarea>
                </div>
                <div id="kgs_len"></div>
                <!-- <a id="nb_triples" class="button is-success is-small">[] Triples</a> -->
                <br>
                <div class="field is-grouped is-grouped-centered">
                    <p class="control"><a id="btn_rdf_json-ld" data-rdf="json-ld" class="button is-info">JSON-LD</a></p>
                    <!-- <p class="control"><a id="btn_rdf_turtle" data-rdf="turtle" class="button is-info">Turtle</a></p> -->
                    <p class="control"><a id="btn_rdf_trig" data-rdf="trig" class="button is-info">Trig</a></p>
                    <!-- <p class="control"><a id="btn_rdf_nt" data-rdf="nt" class="button is-info">NT</a></p> -->
                    <!-- <p class="control"><a id="btn_rdf_xml" data-rdf="xml" class="button is-info">XML</a></p> -->
                </div>
            </div>
        </div>
    </div>
</article>


<!-- Step 3: Metadata quality checks -->
<article class="message">
    <div id="article-bioschemas-check">
        <div class="message-body is-inspect">
            <h1 class="subtitle"><b>Step 3: Metadata quality checks</b></h1>
            <div class="block is-hidden">
                <div class="tabs is-boxed">
                    <ul>
                        <li id="linkeddata_tab" class="is-active">
                            <a>
                                <span class="icon is-small"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                                <span>Controlled vocabularies</span>
                            </a>
                        </li>
                        <li id="bioschemas_tab">
                            <a>
                                <span class="icon is-small"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                <span>Bioschemas</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <section id="section-LinkedData" class="section">
                    
                    <p>We now have a Knowledge Graph grounded to ontology concepts (classes) and relations (properties).
                        Are these classes and properties already known in reference ontology registries such as 
                        <a href="https://lov.linkeddata.es/dataset/lov/" target="_blank">LOV</a>, 
                        <a href="https://www.ebi.ac.uk/ols/index" target="_blank">OLS</a>  
                        or <a href="https://bioportal.bioontology.org/" target="_blank">BioPortal</a> ? </p>
                    <br>
                    <div class="field is-grouped is-grouped-centered">
                        <p class="control"><a id="btn_fairness" class="button is-primary is-large">Check
                                Vocabularies</a>
                        </p>
                        
                    </div>
                    <article class="message is-warning">
                        <div id="vocab_interpret" class="message-body" hidden>

                        </div>
                    </article>
                    
                    <div class="columns is-multiline is-mobile">
                        <div class="column is-one-half">
                            <table class="table is-striped is-fullwidth is-hoverable">
                                <thead>
                                    <tr>
                                        <th>Classes</th>
                                    </tr>
                                </thead>
                                <tbody id="t_classes">
                                </tbody>
                            </table>
                        </div>
                        <div class="column is-one-half">
                            <table class="table is-striped is-fullwidth is-hoverable">
                                <thead>
                                    <tr>
                                        <th>Properties</th>
                                    </tr>
                                </thead>
                                <tbody id="t_properties">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

                <section id="section-BioSchemas" class="section  is-hidden">

                    <!-- <h3 class="title is-3">BioSchemas profiles checks</h3> -->
                    <p>Bioschemas is a community effort aimed at reusing and extending Schema.org for better life
                        science digital resource findability. Several profiles are defined for each kind of Life Science
                        resources, specifying minimal, recommended or optional information. Are minimal
                        information missing ? Should other information be provided for better findability ?</p>
                    <br>
                    <div class="field is-grouped is-grouped-centered">
                        <!-- <p class="control"><a id="btn_fairness" class="button is-primary">Vocab. checks</a></p> -->
                        <p class="control"><a id="btn_bioschemas" class="button is-warning is-large">Check BioSchemas
                            </a>
                        </p>
                    </div>

                    {% block test %}
                    {% include 'bioschemas_report.html' %}
                    {% endblock %}

                    <div id="block_valid" class="block">

                    </div>

                </section>

            </div>
        </div>
    </div>
</article>


{% endblock %}