{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<h1 class="title">How FAIR is my resource</h1>

<form action="/test_url" method="post" >
  <div class="field has-addons">
    <div class="control">
      <input name="url" class="input is-large" type="text" placeholder="FAIR resource URL">
    </div>
    <div class="control">
      <input type="submit" value="Check" class="button is-info is-large">
    </div>
  </div>
</form>


{% endblock %}
