{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<script type="text/javascript" charset="utf-8">

    $( document ).ready(function() {

<!--        var cm = new CodeMirror.fromTextArea(document.getElementById("editor"), {-->
<!--            lineNumbers: true,-->
<!--            lineWrapping: true,-->
<!--         });-->

        console.log( "ready!" );
        $("#notif").addClass("is-hidden");

        console.log('trying to connect...');
        var socket = io.connect({{ config['SERVER_IP']|tojson }});
        //var socket = io();
        console.log('connected');

        //////////////////
        // click handlers
        //////////////////

        {% for f in f_metrics %}
            $("#test_{{f.id}}").click(function(){
                console.log("Testing metric {{f.name}}");
                console.log("ID: " + "{{f.id}}");
                console.log("Value: " + "{{f.api_url}}");
                $(this).addClass("is-loading");

                socket.emit('retrieve_embedded_annot', {
                              url: $("#url").val()
                });
            });
        {% endfor %}

        {% for k in sample_data.keys() %}
            $("#sample_{{k}}").on("change", function(){
                console.log(this.value) ;
                $("#url").val(this.value) ;
                $('#sample_{{k}} option[value="{{ k }}"]').attr("selected", "selected");
            });
        {% endfor %}

        $("#btn_kg").click(function(){
            $(this).addClass("is-loading");
            $("#section-KG").removeClass("is-hidden");
            $("#section-LinkedData").addClass("is-hidden");
            $("#section-BioSchemas").addClass("is-hidden");
            socket.emit('retrieve_embedded_annot', {url: $("#url").val()});
        });

        $("#btn_fairness").click(function(){
            $(this).addClass("is-loading");
            $("#section-KG").removeClass("is-hidden");
            $("#section-LinkedData").removeClass("is-hidden");
            $("#section-BioSchemas").addClass("is-hidden");
            socket.emit('check_kg', {url: $("#url").val()});
        });

        $("#btn_bioschemas").click(function(){
            $(this).addClass("is-loading");
            $("#section-KG").removeClass("is-hidden");
            $("#section-LinkedData").addClass("is-hidden");
            $("#section-BioSchemas").removeClass("is-hidden");
            socket.emit('check_kg_shape', {url: $("#url").val()});
        });

        //////////////////
        // event handlers
        //////////////////

        socket.on('connect', function() {
            socket.emit('hello', {data: 'I\'m connected!'});
            console.log('hello message sent');
        });

         socket.on('update_annot', function(value) {
             if ("done".includes(value)) {
                $("#p1").attr("value", 4);
            } else {
                console.log('received '+value+' for p1');
                $("#p1").attr("value",value);
            }
         });
         socket.on('send_annot', function(value) {
             console.log(value);
             //cm.setValue(value);
             $("#microdata").val(value)
             $("#btn_kg").removeClass("is-loading");
         });

        socket.on('done_check', function(value) {
            console.log(value);
            var rows = '';
            $.each(value['classes'], function(index, item) {
                var row = '<tr>';
                row += '<td>' + item['name'] ;
                $.each(item['tag'], function(index, t) {
                    row += ' <span class="tag is-primary is-pulled-right">' + t + '</span>'
                });
                row += '</td>';
                rows += row + '<tr>';
            });
            $('#t_classes').html(rows);

            var rows = '';
            $.each(value['properties'], function(index, item) {
                var row = '<tr>';
                row += '<td>' + item['name'] ;
                $.each(item['tag'], function(index, t) {
                    row += ' <span class="tag is-primary is-pulled-right">' + t + '</span>'
                });
                row += '</td>';
                rows += row + '<tr>';
            });
            $('#t_properties').html(rows);

             $("#btn_fairness").removeClass("is-loading");
         });

         socket.on('done_check_shape', function(value) {
            console.log(value);
            var rows = '';
            $.each(value['errors'], function(index, item) {
                var row = '<tr>';
                row += '<td>' + item + '</td>';
                rows += row + '<tr>';
            });
            $('#t_errors').html(rows);

            var rows = '';
            $.each(value['warnings'], function(index, item) {
                var row = '<tr>';
                row += '<td>' + item + '</td>';
                rows += row + '<tr>';
            });
            $('#t_warnings').html(rows);

             $("#btn_bioschemas").removeClass("is-loading");
         });

        {% for f in f_metrics %}
        socket.on('done_{{f.id}}', function(value) {
            console.log('DONE {{f.name}}');
            $("#test_{{f.id}}").removeClass("is-loading");

            console.log(value['score']);
            if (value['score'] == 1) {
              $("#status_{{f.id}}").addClass("is-success");
            } else {
              $("#status_{{f.id}}").addClass("is-danger");
            }
            console.log(value['comment']);

        });
        {% endfor %}

        socket.on('fast', function(value) {
            if ("done".includes(value)) {
                $("#p1").attr("value", 100);
            } else {
                console.log('received '+value+' for p1');
                $("#p1").attr("value",value);
            }
        });

        socket.on('slow', function(value) {
            if ("done".includes(value)) {
                $("#p2").attr("value", 100);
            } else {
                console.log('received '+value+' for p2');
                $("#p2").attr("value", value);
            }
        });

        socket.on('long', function(value) {
            console.log('END LONG');
            $("#notif").text(value);
            $("#notif").removeClass("is-hidden");
        });

        //socket.emit('fast');

    });
</script>

<div class="section">
    <h1 class="title is-1">How FAIR are my tools, workflows, datasets ?</h1>
    <p> These FAIR checks aim at leveraging semantic web technologies to check that metadata use standards and recognized
        ontologies or controlled vocabularies.</p>
    <br>
    <p> First, embedded semantic annotations are extracted from web pages, forming a minimal knowledge graph. Then, these knowledge are completed based on already deployed knowledge graphs (Datacite, OpenAire, WikiData). Finally, the resulting knowledge graph is tested to check that classes and properties are recognized through Linked Open Vocabularies (LOV), or Ontology Lookup Service (OLS)</p>
</div>

<div class="section">
    <div class="columns is-multiline is-mobile">
        {% for k in sample_data.keys() %}
            <div class="column is-4">
                <div class="field">
                    <label class="label">{{k}}</label>
                    <div class="control">

                        <div class="select">
                            <select id="sample_{{k}}">
                                {% for s in sample_data[k] %}
                                <option>{{ s }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="section">
    <div class="field is-grouped">
          <p class="control is-expanded">
            <input id="url" name="url" class="input" type="text" placeholder="Resource URL" value="http://bio.tools/bwa">
          </p>
        <p class="control"><a id="btn_kg" class="button is-info">Build KG</a></p>
        <p class="control"><a id="btn_fairness" class="button is-primary">Interop checks</a></p>
        <p class="control"><a id="btn_bioschemas" class="button is-warning">BioSchemas checks</a></p>
    </div>
</div>

<div class="section is-hidden">
    <progress id="p1" class="progress is-primary"  value="0" max="5"></progress>
</div>

<section id="section-KG" class="section is-hidden">
    <div class="section">
        <div class="field">
          <div class="control">
            <textarea id="microdata" class="textarea is-small" placeholder="Knowledge graph, in RDF, turtle syntax" rows="15"></textarea>
          </div>
        </div>
    </div>
</section>

<section id="section-LinkedData" class="section is-hidden">
    <h3 class="title is-3">Interoperability validation</h3>
    <p>What</p>
    <p>Why</p>
    <p>How</p>
    <div class="columns is-multiline is-mobile">
        <div class="column is-one-half">
            <table class="table is-striped is-fullwidth">
                <thead><tr><th>Classes</th></tr></thead>
                <tbody id="t_classes">
                </tbody>
            </table>
        </div>
        <div class="column is-one-half">
            <table class="table is-striped is-fullwidth">
                <thead><tr><th>Properties</th></tr></thead>
                <tbody id="t_properties">
                </tbody>
            </table>
        </div>
    </div>
</section>

<section id="section-BioSchemas" class="section is-hidden">
    <h3 class="title is-3">BioSchemas validation</h3>
    <p>What</p>
    <p>Why</p>
    <p>How</p>
    <div class="columns is-multiline is-mobile">
        <div class="column is-one-half">
            <table class="table is-striped is-fullwidth">
                <thead><tr><th>Requirements</th></tr></thead>
                <tbody id="t_errors">
                </tbody>
            </table>
        </div>
        <div class="column is-one-half">
            <table class="table is-striped is-fullwidth">
                <thead><tr><th>Improvements</th></tr></thead>
                <tbody id="t_warnings">
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}
