<link rel="stylesheet" href="../static/css/bulma-divider.min.css">{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<!-- TESTING Display -->
<script>
    function filterNodesById(nodes, id) {
        return nodes.filter(function (n) { return n.id === id; });
    }

    function triplesToGraph(triples) {

        svg.html("");
        //Graph
        var graph = { nodes: [], links: [] };

        //Initial Graph from triples
        triples.forEach(function (triple) {
            var subjId = triple.subject;
            var predId = triple.predicate;
            var objId = triple.object;

            var subjNode = filterNodesById(graph.nodes, subjId)[0];
            var objNode = filterNodesById(graph.nodes, objId)[0];

            if (subjNode == null) {
                subjNode = { id: subjId, label: subjId, weight: 1 };
                graph.nodes.push(subjNode);
            }

            if (objNode == null) {
                objNode = { id: objId, label: objId, weight: 1 };
                graph.nodes.push(objNode);
            }


            graph.links.push({ source: subjNode, target: objNode, predicate: predId, weight: 1 });
        });

        return graph;
    }

    function addNewTriples(triples_list) {

        graph = triplesToGraph(triples_list);
        update();
    }

    function update() {
        // ==================== Add Marker ====================
        svg.append("svg:defs").selectAll("marker")
            .data(["end"])
            .enter().append("svg:marker")
            .attr("id", String)
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", 30)
            .attr("refY", -0.5)
            .attr("markerWidth", 6)
            .attr("markerHeight", 6)
            .attr("orient", "auto")
            .append("svg:polyline")
            .attr("points", "0,-5 10,0 0,5")
            ;

        // ==================== Add Links ====================
        var links = svg.selectAll(".link")
            .data(graph.links)
            .enter()
            .append("line")
            .attr("marker-end", "url(#end)")
            .attr("class", "link")
            .attr("stroke-width", 1)
            ;//links

        // ==================== Add Link Names =====================
        var linkTexts = svg.selectAll(".link-text")
            .data(graph.links)
            .enter()
            .append("text")
            .attr("class", "link-text")
            .text(function (d) { return d.predicate; })
            ;

        //linkTexts.append("title")
        //		.text(function(d) { return d.predicate; });

        // ==================== Add Link Names =====================
        var nodeTexts = svg.selectAll(".node-text")
            .data(graph.nodes)
            .enter()
            .append("text")
            .attr("class", "node-text")
            .text(function (d) { return d.label; })
            ;

        //nodeTexts.append("title")
        //		.text(function(d) { return d.label; });

        // ==================== Add Node =====================
        var nodes = svg.selectAll(".node")
            .data(graph.nodes)
            .enter()
            .append("circle")
            .attr("class", "node")
            .attr("r", 8)
            .call(force.drag)
            ;//nodes

        // ==================== Force ====================
        force.on("tick", function () {
            nodes
                .attr("cx", function (d) { return d.x; })
                .attr("cy", function (d) { return d.y; })
                ;

            links
                .attr("x1", function (d) { return d.source.x; })
                .attr("y1", function (d) { return d.source.y; })
                .attr("x2", function (d) { return d.target.x; })
                .attr("y2", function (d) { return d.target.y; })
                ;

            nodeTexts
                .attr("x", function (d) { return d.x + 12; })
                .attr("y", function (d) { return d.y + 3; })
                ;


            linkTexts
                .attr("x", function (d) { return 4 + (d.source.x + d.target.x) / 2; })
                .attr("y", function (d) { return 4 + (d.source.y + d.target.y) / 2; })
                ;
        });

        // ==================== Run ====================
        force
            .nodes(graph.nodes)
            .links(graph.links)
            .charge(-500)
            .linkDistance(100)
            .start()
            ;
    }



</script>

<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {

        //        var cm = new CodeMirror.fromTextArea(document.getElementById("editor"), {-->
        // <!--            lineNumbers: true,-->
        // <!--            lineWrapping: true,-->
        // <!--         });

        console.log("ready!");
        $("#notif").addClass("is-hidden");

        console.log('trying to connect...');
        var socket = io.connect({{ config['SERVER_IP']| tojson }});
    //var socket = io();
    console.log('connected');

    //////////////////
    // click handlers
    //////////////////

    {% for f in f_metrics %}
    $("#test_{{f.id}}").click(function () {
        console.log("Testing metric {{f.name}}");
        console.log("ID: " + "{{f.id}}");
        console.log("Value: " + "{{f.api_url}}");
        $(this).addClass("is-loading");

        socket.emit('retrieve_embedded_annot', {
            url: $("#url").val()
        });
    });
    {% endfor %}

    // Exemple selector List
    {% for k in sample_data.keys() %}
    $("#sample_{{k}}").on("change", function () {
        console.log(this.value);
        $("#url").val(this.value);
        $('#sample_{{k}} option[value="{{ k }}"]').attr("selected", "selected");
    });
    {% endfor %}

    // Exemple selector Button
    $('[id^="resource_"]').on("click", function () {
        console.log($(this).children("a").text());
        $("#url").val($(this).children("a").data("url"));
    });


    $("#btn_kg").click(function () {
        $(this).addClass("is-loading");
        $("#microdata").val("");
        $("#nb_triples").text("0" + " triples");
        $('#block_valid').html("");
        $('#t_classes').html("");
        $('#t_properties').html("");
        socket.emit('retrieve_embedded_annot_2', { url: $("#url").val() });
    });

    $("#btn_describe_biotools").click(function () {
        $(this).addClass("is-loading");
        graph = $("#microdata").val();
        url = $("#url").val();
        socket.emit('describe_biotools', { url: url, graph: graph });
    });

    $("#btn_describe_loa").click(function () {
        $(this).addClass("is-loading");
        graph = $("#microdata").val();
        url = $("#url").val();
        socket.emit('describe_loa', { url: url, graph: graph });
    });

    $("#btn_describe_wikidata").click(function () {
        $(this).addClass("is-loading");
        graph = $("#microdata").val();
        url = $("#url").val();
        socket.emit('describe_wikidata', { url: url, graph: graph });
    });

    $("#btn_describe_opencitation").click(function () {
        $(this).addClass("is-loading");
        graph = $("#microdata").val();
        url = $("#url").val();
        socket.emit('describe_opencitation', { url: url, graph: graph });
    });

    $("#btn_annot_bioschemas").click(function () {
        $("#article-BioSchemas-annot").removeClass("is-hidden");
    });

    $("#btn_fairness").click(function () {
        $(this).addClass("is-loading");
        $("#section-KG").removeClass("is-hidden");
        $("#section-LinkedData").removeClass("is-hidden");
        $("#section-BioSchemas").addClass("is-hidden");
        socket.emit('check_kg', { url: $("#url").val() });
    });

    $("#btn_bioschemas").click(function () {
        $(this).addClass("is-loading");
        $("#section-KG").removeClass("is-hidden");
        // $("#section-LinkedData").addClass("is-hidden");
        // $("#section-BioSchemas").removeClass("is-hidden");
        socket.emit('check_kg_shape_2', { url: $("#url").val(), kg: $("#microdata").val() });
    });

    // Change RDF type button

    $('[id^="btn_rdf_"]').click(function () {
        var rdf_type = $(this).data("rdf");
        console.log("change RDF syntax to " + rdf_type);
        socket.emit('change_rdf_type', { rdf_type: rdf_type });
    });

    // TABS for Step 3

    $("#bioschemas_tab").click(function () {
        $(this).addClass("is-active");
        $("#linkeddata_tab").removeClass("is-active");

        $("#section-LinkedData").addClass("is-hidden");
        $("#section-BioSchemas").removeClass("is-hidden");
    });

    $("#linkeddata_tab").click(function () {
        $(this).addClass("is-active");
        $("#bioschemas_tab").removeClass("is-active");

        $("#section-LinkedData").removeClass("is-hidden");
        $("#section-BioSchemas").addClass("is-hidden");
    });


    $("#btn_submit_annot_bioschemas").click(function () {

        var err_selector = $('[id^="bs_err_annot_"]');
        var warn_selector = $('[id^="bs_warn_annot_"]');
        var url = $('#url').val();

        var err = {};
        err_selector.each(function () {
            val = $(this).val();
            property = $(this).parent("div").parent().children("label").children("a").text();
            err[property] = val;
        });

        var warn = {};
        warn_selector.each(function () {
            val = $(this).val();
            property = $(this).parent("div").parent().children("label").children("a").text();
            warn[property] = val;
        });
        console.log(warn);
        socket.emit('update_annot_bioschemas', { err: err, warn: warn, url: url });
    });

    //////////////////
    // event handlers
    //////////////////

    socket.on('connect', function () {
        socket.emit('hello', { data: 'I\'m connected!' });
        console.log('hello message sent');
    });

    socket.on('update_annot_2', function (value) {
        console.log("UPDATE ANNOT 2")
        if ("done".includes(value)) {
            $("#p1").attr("value", 4);
        } else {
            console.log('received ' + value + ' for p1');
            $("#p1").attr("value", value);
        }
    });
    socket.on('send_annot_2', function (value) {
        console.log(value);
        //cm.setValue(value);
        $("#section-describe").find(".block").removeClass("is-hidden");
        $("#article-bioschemas-check").find(".block").removeClass("is-hidden");
        $("#microdata").val(value["kg"]);
        $("#nb_triples").text(value["nb_triples"] + " triples");
        $("#btn_describe_opencitation").removeClass("is-loading");
        $("#btn_describe_wikidata").removeClass("is-loading");
        $("#btn_describe_biotools").removeClass("is-loading");
        $("#btn_describe_loa").removeClass("is-loading");
        $("#btn_kg").removeClass("is-loading");
        // Call Graph display update here
        // socket.emit('get_latest_triples');
    });

    socket.on('send_bs_annot', function (value) {
        $("#annotated_bioschemas").val(value);
    });

    socket.on('done_check', function (value) {
        console.log(value);
        var rows = '';
        $.each(value['classes'], function (index, item) {
            var row = '<tr>';
            row += '<td>' + item['name'];
            if (item['tag'].length == 0) {
                row += ' <span class="tag is-danger is-pulled-right"> unknown</span>'
            } else {
                $.each(item['tag'], function (index, t) {
                    row += ' <span class="tag is-primary is-pulled-right">' + t + '</span>'
                });
            }
            row += '</td>';
            rows += row + '<tr>';
        });
        $('#t_classes').html(rows);

        var rows = '';
        $.each(value['properties'], function (index, item) {
            var row = '<tr>';
            row += '<td>' + item['name'];
            if (item['tag'].length == 0) {
                row += ' <span class="tag is-danger is-pulled-right"> unknown</span>'
            } else {
                $.each(item['tag'], function (index, t) {
                    row += ' <span class="tag is-primary is-pulled-right">' + t + '</span>'
                });
            }
            row += '</td>';
            rows += row + '<tr>';
        });
        $('#t_properties').html(rows);

        $("#btn_fairness").removeClass("is-loading");
    });

    socket.on('done_check_shape', function (data) {
        console.log(data);
        var valid_html = "";
        $.each(data, function (key, value) {
            var resource = key
            var type = data[key]['type']
            var conforms = data[key]['conforms']
            valid_html += '<div class="block">'
            valid_html += '<h5 class="subtitle is-5">' + resource + ' <span class="tag is-black">' + type + '</span> </h5>'
            // valid_html += '<span class="tag is-black">' + type + '</span>'
            if (conforms == true) {
                valid_html += '<p> has a <span class="has-text-success has-text-weight-bold">valid</span> Bioschemas profile</p>'
            } else {
                valid_html += '<div class="columns is-multiline is-mobile">'
                valid_html += '<div class="column is-one-half">'
                valid_html += '<table class="table is-striped is-fullwidth">'
                valid_html += '<thead><tr><th>Requirements</th></tr></thead>'
                valid_html += '<tbody>'
                $.each(data[key]['errors'], function (index, item) {
                    var row = '<tr>';
                    row += '<td>' + item + ' <span class="has-text-danger has-text-weight-bold">must be</span> provided</td>';
                    valid_html += row + '</tr>';
                });
                valid_html += '</tbody></table></div>'
                valid_html += '<div class="column is-one-half">'
                valid_html += '<table class="table is-striped is-fullwidth">'
                valid_html += '<thead><tr><th>Improvements</th></tr></thead>'
                valid_html += '<tbody>'
                $.each(data[key]['warnings'], function (index, item) {
                    var row = '<tr>';
                    row += '<td>' + item + ' <span class="has-text-warning has-text-weight-bold">should be</span> provided</td>';
                    valid_html += row + '</tr>';
                });
                valid_html += '</tbody></table></div>'
                valid_html += '</div>'
            }
            valid_html += '</div>'

        });
        $('#block_valid').html(valid_html);

        // annot table
        // var rows = '';
        // $.each(value['errors'], function (index, item) {
        //     item = item.match(/\bhttps?:\/\/\S+/gi);
        //     var row = '<tr>';
        //     row += '<td>';
        //     row += '<div class="field">';
        //     row += '<label class="label"><a href="' + item + '" target="_blank">' + item + '</a></label>';
        //     row += '<div class="control">';
        //     row += '<input id="bs_err_annot_' + index + '" class="input" type="text">';
        //     row += '</div>';
        //     row += '</div>';
        //     rows += row + '</tr>';

        // });
        // $('#t_errors_annot').html(rows);

        // var rows = '';
        // $.each(value['warnings'], function (index, item) {
        //     item = item.match(/\bhttps?:\/\/\S+/gi);
        //     var row = '<tr>';
        //     row += '<td>';
        //     row += '<div class="field">';
        //     row += '<label class="label"><a href="' + item + '" target="_blank">' + item + '</a></label>';
        //     row += '<div class="control">';
        //     row += '<input id="bs_warn_annot_' + index + '" class="input" type="text">';
        //     row += '</div>';
        //     row += '</div>';
        //     rows += row + '</tr>';
        // });
        // $('#t_warnings_annot').html(rows);


        $("#btn_bioschemas").removeClass("is-loading");
        $("#btn_annot_bioschemas").removeClass("is-hidden");
    });



    {% for f in f_metrics %}
    socket.on('done_{{f.id}}', function (value) {
        console.log('DONE {{f.name}}');
        $("#test_{{f.id}}").removeClass("is-loading");

        console.log(value['score']);
        if (value['score'] == 1) {
            $("#status_{{f.id}}").addClass("is-success");
        } else {
            $("#status_{{f.id}}").addClass("is-danger");
        }
        console.log(value['comment']);

    });
    {% endfor %}

    socket.on('fast', function (value) {
        if ("done".includes(value)) {
            $("#p1").attr("value", 100);
        } else {
            console.log('received ' + value + ' for p1');
            $("#p1").attr("value", value);
        }
    });

    socket.on('slow', function (value) {
        if ("done".includes(value)) {
            $("#p2").attr("value", 100);
        } else {
            console.log('received ' + value + ' for p2');
            $("#p2").attr("value", value);
        }
    });

    socket.on('long', function (value) {
        console.log('END LONG');
        $("#notif").text(value);
        $("#notif").removeClass("is-hidden");
    });

    socket.on('send_triples', function (value) {
        var new_triples = value["triples"];
        // console.log(triples);
        // var new_triples = [
        //     {subject:"ex:ThaiLand", 	predicate:"ex:hasFood", 	object:"ex:TomYumKung"},
        //     {subject:"ex:TomYumKung", 	predicate:"rdf:type", 		object:"ex:SpicyFood"},
        //     {subject:"ex:TomYumKung", 	predicate:"ex:includes", 	object:"ex:shrimp"},
        //     {subject:"ex:TomYumKung", 	predicate:"ex:includes", 	object:"ex:chilly"},
        //     {subject:"ex:TomYumKung", 	predicate:"ex:includes", 	object:"ex:lemon"},
        //     {subject:"ex:lemon", 		predicate:"ex:hasTaste", 	object:"ex:sour"},
        //     {subject:"ex:chilly", 		predicate:"ex:hasTaste", 	object:"ex:spicy"}
        //   ];
        console.log(new_triples);

        // for(let i = 0; i < new_triples.length; i++){
        //   console.log(new_triples[i]);
        //   triples.push(new_triples[i]);
        //   graph = triplesToGraph(new_triples[i]);
        // };
        // //
        addNewTriples(new_triples);

        // update();
        console.log("updated graph")
    });

        //socket.emit('fast');

    });

</script>


{#<h1 class="title">How to enhance metadata quality for my tools, datasets, workflows ?</h1>#}

<p> These automated validations leverage semantic web technologies and check that metadata use standards and recognized
    ontologies or controlled vocabularies.</p>
<br>
<p> First, embedded semantic annotations are extracted from web pages, forming a minimal knowledge graph. Then, this
    minimal knowledge graph is completed based on already deployed knowledge graphs (Datacite, OpenAire, WikiData).
    Finally, the resulting knowledge graph is tested to check that classes and properties are recognized through Linked
    Open Vocabularies (LOV), or Ontology Lookup Service (OLS)</p>
<br>

<!-- <div id="section-build-KG" class="section"> -->

<!-- <article id="article-build-KG" class="message is-info">
    <div class="message-header">
        <p>Step 1: Build Graph from resource identifier (URL/DOI)</p>
    </div>
    <div class="message-body">
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input id="url" name="url" class="input" type="text" placeholder="Resource URL"
                    value="https://bio.tools/bwa">
            </p>
            <p class="control"><a id="btn_kg" class="button is-info">Build Knowledge Graph</a></p>
        </div>

        {% for k in sample_data.keys() %}
        <p class="button is-info is-small">{{k}}<i class="fa fa-chevron-down fa-fw"></i></p>

        <div class="panel">
            <div class="panel-block is-centered">
                <div class="field is-grouped is-grouped-centered">
                    <p class="button is-info is-small">{{k}}&nbsp;<i class="fa fa-chevron-right fa-fw"></i></p>
                    {% for s in sample_data[k] %}
                    <p id="resource_{{k}}_{{loop.index}}" class="control"><a class="button is-small is-text"
                            data-url="{{ s.url }}">{{ s.text }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</article> -->

<div class="block">
    <div class="box">
        <div class="block">
            <h2 class="subtitle">Step 1: fetch RDF metadata from the resource URL or DOI</h2>
        </div>
        {% for k in sample_data.keys() %}
        <div class="field is-grouped">
            <p class="is-small">{{k}}:&nbsp;</p>
            {% for s in sample_data[k] %}
            <p id="resource_{{k}}_{{loop.index}}" class="control"><a class="button is-small is-text"
                    data-url="{{ s.url }}">{{ s.text
                    }}</a></p>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="field is-grouped has-addons">
            <p class="control is-expanded">
                <input id="url" name="url" class="input" type="text" placeholder="your URL or DOI">
            </p>
            <p class="control"><a id="btn_kg" class="button is-info">Build Knowledge Graph</a></p>
        </div>
    </div>
</div>

<!-- <section id="section-describe" class="section"> -->
<div class="block">
    <div id="section-describe" class="box">
        <div class="block">
            <h2 class="subtitle">Step 2: Enrich Graph</h2>
        </div>
        <!-- <div class="message-body is-hidden"> -->
        <div class="block is-hidden">
            <div class="field is-grouped is-grouped-centered">
                <p class="control"><a id="btn_describe_wikidata" class="button is-warning">... from Wikidata</a></p>
                <p class="control"><a id="btn_describe_opencitation" class="button is-warning">... from
                        OpenCitations</a>
                </p>
                <p class="control"><a id="btn_describe_loa" class="button is-warning">... from OpenAIRE</a></p>
            </div>
            <div class="control">
                <textarea id="microdata" class="textarea is-small" placeholder="Knowledge graph, in RDF, turtle syntax"
                    rows="15"></textarea>
            </div>
            <a id="nb_triples" class="button is-success is-small">[] Triples</a>
            <br>
            <div class="field is-grouped is-grouped-centered">
                <p class="control"><a id="btn_rdf_json-ld" data-rdf="json-ld" class="button is-info">JSON-LD</a></p>
                <p class="control"><a id="btn_rdf_turtle" data-rdf="turtle" class="button is-info">Turtle</a></p>
                <p class="control"><a id="btn_rdf_nt" data-rdf="nt" class="button is-info">NT</a></p>
                <p class="control"><a id="btn_rdf_xml" data-rdf="xml" class="button is-info">XML</a></p>
            </div>
        </div>
    </div>
</div>
<!-- </article> -->
<!-- </section> -->

<div class="block">
    <div id="article-bioschemas-check" class="box">
        <div class="block">
            <h2 class="subtitle">Step 3: Metadata quality checks</h2>
        </div>
        <!-- <div class="message-body is-hidden"> -->
        <div class="block is-hidden">
            <div class="tabs is-boxed">
                <ul>
                    <li id="linkeddata_tab" class="is-active">
                        <a>
                            <span class="icon is-small"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                            <span>Controlled vocabularies</span>
                        </a>
                    </li>
                    <li id="bioschemas_tab">
                        <a>
                            <span class="icon is-small"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span>Bioschemas</span>
                        </a>
                    </li>

                </ul>
            </div>

            <section id="section-LinkedData" class="section">
                <!-- <h3 class="title is-3">Controlled vocabulary checks</h3> -->
                <p>We now have a Knowledge Graph grounded to ontology concepts (classes) and relations (properties). Are
                    these classes and properties already known in reference ontology registries such as LOV, OLS or
                    BioPortal ? </p>
                <br>
                <div class="field is-grouped is-grouped-centered">
                    <p class="control"><a id="btn_fairness" class="button is-primary is-large">Check Vocabularies</a>
                    </p>
                    <!-- <p class="control"><a id="btn_bioschemas" class="button is-warning is-large">BioSchemas checks</a></p> -->
                </div>
                <br>
                <div class="columns is-multiline is-mobile">
                    <div class="column is-one-half">
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Classes</th>
                                </tr>
                            </thead>
                            <tbody id="t_classes">
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-one-half">
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Properties</th>
                                </tr>
                            </thead>
                            <tbody id="t_properties">
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section id="section-BioSchemas" class="section  is-hidden">

                <!-- <h3 class="title is-3">BioSchemas profiles checks</h3> -->
                <p>Bioschemas is a community effort aimed at reusing and extending Schema.org for better life science
                    digital resource findability. Several profiles are defined for each kind of Life Science resources,
                    specifying minimal, recommended or optional information. Am I missing minimal information ? Should I
                    provide other information for better findability ?</p>
                <br>
                At the moment, profiles supported are: <a
                    href="https://bioschemas.org/profiles/ScholarlyArticle/0.2-DRAFT-2020_12_03/"
                    target="_blank"><u>ScholarlyArticle</u></a>,
                <a href="https://bioschemas.org/profiles/Dataset/0.3-RELEASE-2019_06_14/"
                    target="_blank"><u>Dataset</u></a>,
                <a href="https://bioschemas.org/profiles/ComputationalTool/0.5-DRAFT/"
                    target="_blank"><u>ComputationalTool</u></a>
                <br>
                <br>
                <div class="field is-grouped is-grouped-centered">
                    <!-- <p class="control"><a id="btn_fairness" class="button is-primary">Vocab. checks</a></p> -->
                    <p class="control"><a id="btn_bioschemas" class="button is-warning is-large">Check BioSchemas </a>
                    </p>
                </div>

                <div id="block_valid" class="block">

                </div>

                <!-- <div class="field is-grouped is-grouped-centered">
                <p class="control"><a id="btn_annot_bioschemas" class="button is-warning is-hidden">Annotate missing
                        BioSchemas properties</a></p>
            </div> -->
            </section>

        </div>
    </div>
</div>
<!--    </div>-->
<!-- </section> -->
<div class="block">
    <article id="article-BioSchemas-annot" class="message is-info is-hidden">
        <div class="message-header">
            <p>Step 4: Annotate missing properties</p>
        </div>
        <div class="message-body">
            <section id="section-Annot" class="section">
                <div class="columns is-multiline is-mobile">
                    <div class="column is-one-half">
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Requirements</th>
                                </tr>
                            </thead>
                            <tbody id="t_errors_annot">
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-one-half">
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Improvements</th>
                                </tr>
                            </thead>
                            <tbody id="t_warnings_annot">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <p class="control"><a id="btn_submit_annot_bioschemas" class="button is-warning">Annotate Bioschemas
                            profile</a></p>
                </div>
                <div class="control">
                    <textarea id="annotated_bioschemas" class="textarea is-small"
                        placeholder="BioSchemas annotation will be shown here" rows="15"></textarea>
                </div>
            </section>
        </div>
    </article>
</div>
<!-- <section id="section-KG" class="section"> -->
<!--    <div class="section">-->
<!-- <article id="article-KG" class="message is-info is-hidden">
    <div class="message-header">
        <p>Graph</p>
    </div>
    <div class="message-body is-hidden">
        <div class="field">
            <div class="control">
                <textarea id="microdata" class="textarea is-small" placeholder="Knowledge graph, in RDF, turtle syntax"
                    rows="15"></textarea>
            </div>
        </div>
    </div>
</article> -->


<!--<article id="article-KGdisplay" class="message is-info">-->
<!--    <div class="message-header">-->
<!--        <p>Graph Display</p>-->
<!--    </div>-->
<!--    <div class="message-body">-->
<!--        <div class="field">-->
<!--            <div class="control">-->
<!--                <div id="svg-body" class="panel-body"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</article>-->

<script>
    // var triples = [
    // 		{subject:"ex:ThaiLand", 	predicate:"ex:hasFood", 	object:"ex:TomYumKung"},
    //
    // 	];


    var svg = d3.select("#svg-body").append("svg")
        .attr("width", "auto")
        .attr("height", 600)
        .attr("display", "block")
        ;

    var force = d3.layout.force().size([800, 600]);

  	// var graph = triplesToGraph(triples);

  	// update();


</script>

<!--    </div>-->
<!-- </section> -->


{% endblock %}