{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<script type="text/javascript" charset="utf-8">

    $( document ).ready(function() {

//        var cm = new CodeMirror.fromTextArea(document.getElementById("editor"), {-->
// <!--            lineNumbers: true,-->
// <!--            lineWrapping: true,-->
// <!--         });

        console.log( "ready!" );
        $("#notif").addClass("is-hidden");

        console.log('trying to connect...');
        var socket = io.connect({{ config['SERVER_IP']|tojson }});
        //var socket = io();
        console.log('connected');

        //////////////////
        // click handlers
        //////////////////

        {% for f in f_metrics %}
            $("#test_{{f.id}}").click(function(){
                console.log("Testing metric {{f.name}}");
                console.log("ID: " + "{{f.id}}");
                console.log("Value: " + "{{f.api_url}}");
                $(this).addClass("is-loading");

                socket.emit('retrieve_embedded_annot', {
                              url: $("#url").val()
                });
            });
        {% endfor %}

        {% for k in sample_data.keys() %}
            $("#sample_{{k}}").on("change", function(){
                console.log(this.value) ;
                $("#url").val(this.value) ;
                $('#sample_{{k}} option[value="{{ k }}"]').attr("selected", "selected");
            });
        {% endfor %}

        $("#btn_kg").click(function(){
            $(this).addClass("is-loading");
            // $("#article-KG").find(".message-body").removeClass("is-hidden");

            // $("#section-LinkedData").addClass("is-hidden");
            // $("#section-BioSchemas").addClass("is-hidden");
            socket.emit('retrieve_embedded_annot_2', {url: $("#url").val()});
        });

        $("#btn_describe_biotools").click(function(){
            $(this).addClass("is-loading");
            graph = $("#microdata").val();
            url = $("#url").val();
            socket.emit('describe_biotools', {url: url, graph: graph});
        });

        $("#btn_describe_loa").click(function(){
            $(this).addClass("is-loading");
            graph = $("#microdata").val();
            url = $("#url").val();
            socket.emit('describe_loa', {url: url, graph: graph});
        });

        $("#btn_describe_wikidata").click(function(){
            $(this).addClass("is-loading");
            graph = $("#microdata").val();
            url = $("#url").val();
            socket.emit('describe_wikidata', {url: url, graph: graph});
        });

        $("#btn_describe_opencitation").click(function(){
            $(this).addClass("is-loading");
            graph = $("#microdata").val();
            url = $("#url").val();
            socket.emit('describe_opencitation', {url: url, graph: graph});
        });

        $("#btn_annot_bioschemas").click(function(){
          $("#article-BioSchemas-annot").removeClass("is-hidden");
        });

        $("#btn_fairness").click(function(){
            $(this).addClass("is-loading");
            $("#section-KG").removeClass("is-hidden");
            $("#section-LinkedData").removeClass("is-hidden");
            $("#section-BioSchemas").addClass("is-hidden");
            socket.emit('check_kg', {url: $("#url").val()});
        });

        $("#btn_bioschemas").click(function(){
            $(this).addClass("is-loading");
            $("#section-KG").removeClass("is-hidden");
            // $("#section-LinkedData").addClass("is-hidden");
            // $("#section-BioSchemas").removeClass("is-hidden");
            socket.emit('check_kg_shape_2', {url: $("#url").val(), kg: $("#microdata").val()});
        });

        // TABS for Step 3

        $("#bioschemas_tab").click(function(){
            $(this).addClass("is-active");
            $("#linkeddata_tab").removeClass("is-active");

            $("#section-LinkedData").addClass("is-hidden");
            $("#section-BioSchemas").removeClass("is-hidden");
        });

        $("#linkeddata_tab").click(function(){
            $(this).addClass("is-active");
            $("#bioschemas_tab").removeClass("is-active");

            $("#section-LinkedData").removeClass("is-hidden");
            $("#section-BioSchemas").addClass("is-hidden");
        });


        $("#btn_submit_annot_bioschemas").click(function(){

            var err_selector = $('[id^="bs_err_annot_"]');
            var warn_selector = $('[id^="bs_warn_annot_"]');

            var err = {};
            err_selector.each(function() {
                val = $(this).val();
                property = $(this).parent("div").parent().children("label").children("a").text();
                err[property] = val;
            });

            var warn = {};
            warn_selector.each(function() {
                val = $(this).val();
                property = $(this).parent("div").parent().children("label").children("a").text();
                warn[property] = val;
            });
            console.log(warn);
            socket.emit('update_annot_bioschemas', {err: err, warn: warn});
        });

        //////////////////
        // event handlers
        //////////////////

        socket.on('connect', function() {
            socket.emit('hello', {data: 'I\'m connected!'});
            console.log('hello message sent');
        });

         socket.on('update_annot_2', function(value) {
             if ("done".includes(value)) {
                $("#p1").attr("value", 4);
            } else {
                console.log('received '+value+' for p1');
                $("#p1").attr("value",value);
            }
         });
         socket.on('send_annot_2', function(value) {
             // console.log(value);
             //cm.setValue(value);
             $("#article-describe").find(".message-body").removeClass("is-hidden");
             $("#article-bioschemas-check").find(".message-body").removeClass("is-hidden");
             $("#microdata").val(value);
             $("#btn_describe_opencitation").removeClass("is-loading");
             $("#btn_describe_wikidata").removeClass("is-loading");
             $("#btn_describe_biotools").removeClass("is-loading");
             $("#btn_describe_loa").removeClass("is-loading");
             $("#btn_kg").removeClass("is-loading");
         });

        socket.on('done_check', function(value) {
            console.log(value);
            var rows = '';
            $.each(value['classes'], function(index, item) {
                var row = '<tr>';
                row += '<td>' + item['name'] ;
                if (item['tag'].length == 0) {
                    row += ' <span class="tag is-danger is-pulled-right"> unknown</span>'
                } else {
                    $.each(item['tag'], function(index, t) {
                        row += ' <span class="tag is-primary is-pulled-right">' + t + '</span>'
                    });
                }
                row += '</td>';
                rows += row + '<tr>';
            });
            $('#t_classes').html(rows);

            var rows = '';
            $.each(value['properties'], function(index, item) {
                var row = '<tr>';
                row += '<td>' + item['name'] ;
                if (item['tag'].length == 0) {
                    row += ' <span class="tag is-danger is-pulled-right"> unknown</span>'
                } else {
                    $.each(item['tag'], function(index, t) {
                        row += ' <span class="tag is-primary is-pulled-right">' + t + '</span>'
                    });
                }
                row += '</td>';
                rows += row + '<tr>';
            });
            $('#t_properties').html(rows);

             $("#btn_fairness").removeClass("is-loading");
         });

         socket.on('done_check_shape', function(value) {
            console.log(value);
            // results table
            var rows = '';
            $.each(value['errors'], function(index, item) {
                var row = '<tr>';
                row += '<td>' + item + '</td>';
                rows += row + '</tr>';
            });
            $('#t_errors').html(rows);

            var rows = '';
            $.each(value['warnings'], function(index, item) {
                var row = '<tr>';
                row += '<td>' + item + '</td>';
                rows += row + '</tr>';
            });
            $('#t_warnings').html(rows);

            // annot table
            var rows = '';
            $.each(value['errors'], function(index, item) {
                item = item.match(/\bhttps?:\/\/\S+/gi);
                var row = '<tr>';
                row += '<td>';
                row +=  '<div class="field">';
                row +=   '<label class="label"><a href="' + item + '" target="_blank">' + item + '</a></label>';
                row +=   '<div class="control">';
                row +=    '<input id="bs_err_annot_' + index + '" class="input" type="text">';
                row +=   '</div>';
                row +=  '</div>';
                rows += row + '</tr>';

            });
            $('#t_errors_annot').html(rows);

            var rows = '';
            $.each(value['warnings'], function(index, item) {
                item = item.match(/\bhttps?:\/\/\S+/gi);
                var row = '<tr>';
                row += '<td>';
                row +=  '<div class="field">';
                row +=   '<label class="label"><a href="' + item + '" target="_blank">' + item + '</a></label>';
                row +=   '<div class="control">';
                row +=    '<input id="bs_warn_annot_' + index + '" class="input" type="text">';
                row +=   '</div>';
                row +=  '</div>';
                rows += row + '</tr>';
            });
            $('#t_warnings_annot').html(rows);


            $("#btn_bioschemas").removeClass("is-loading");
            $("#btn_annot_bioschemas").removeClass("is-hidden");
         });



        {% for f in f_metrics %}
        socket.on('done_{{f.id}}', function(value) {
            console.log('DONE {{f.name}}');
            $("#test_{{f.id}}").removeClass("is-loading");

            console.log(value['score']);
            if (value['score'] == 1) {
              $("#status_{{f.id}}").addClass("is-success");
            } else {
              $("#status_{{f.id}}").addClass("is-danger");
            }
            console.log(value['comment']);

        });
        {% endfor %}

        socket.on('fast', function(value) {
            if ("done".includes(value)) {
                $("#p1").attr("value", 100);
            } else {
                console.log('received '+value+' for p1');
                $("#p1").attr("value",value);
            }
        });

        socket.on('slow', function(value) {
            if ("done".includes(value)) {
                $("#p2").attr("value", 100);
            } else {
                console.log('received '+value+' for p2');
                $("#p2").attr("value", value);
            }
        });

        socket.on('long', function(value) {
            console.log('END LONG');
            $("#notif").text(value);
            $("#notif").removeClass("is-hidden");
        });

        //socket.emit('fast');

    });
</script>

<div class="section">
    <h1 class="title is-1">[BETA] How are my tools, workflows, datasets annotated ? How to enhance metadata quality ? </h1>
    <p> These automated validations leverage semantic web technologies and check that metadata use standards and recognized
        ontologies or controlled vocabularies.</p>
    <br>
    <p> First, embedded semantic annotations are extracted from web pages, forming a minimal knowledge graph. Then, these knowledge are completed based on already deployed knowledge graphs (Datacite, OpenAire, WikiData). Finally, the resulting knowledge graph is tested to check that classes and properties are recognized through Linked Open Vocabularies (LOV), or Ontology Lookup Service (OLS)</p>
</div>

<div class="section">
    <div class="columns is-multiline is-mobile">
        {% for k in sample_data.keys() %}
            <div class="column is-4">
                <div class="field">
                    <label class="label">{{k}}</label>
                    <div class="control">
                        <div class="select">
                            <select id="sample_{{k}}">
                                {% for s in sample_data[k] %}
                                <option>{{ s }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<!-- <div id="section-build-KG" class="section"> -->
    <article id="article-build-KG" class="message is-info">
      <div class="message-header">
        <p>Step 1: Build Graph from resource identifier (URL/DOI)</p>
      </div>
      <div class="message-body">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input id="url" name="url" class="input" type="text" placeholder="Resource URL" value="https://bio.tools/bwa">
          </p>
        <p class="control"><a id="btn_kg" class="button is-info">Build Knowledge Graph</a></p>
<!--        <p class="control"><a id="btn_fairness" class="button is-primary">Vocab. checks</a></p>-->
<!--        <p class="control"><a id="btn_bioschemas" class="button is-warning">BioSchemas checks</a></p>-->
        </div>
      </div>
    </article>
<!-- </div> -->

<!--<div class="section is-hidden">-->
<!--&lt;!&ndash;<div class="section">&ndash;&gt;-->
<!--    <progress id="p1" class="progress is-primary"  value="0" max="5"></progress>-->
<!--</div>-->



<!-- <section id="section-describe" class="section"> -->
     <article id="article-describe" class="message is-info">
      <div class="message-header">
        <p>Step 2: Enrich Graph [Optional] (comparison with previous one ?)</p>
      </div>
      <div class="message-body is-hidden">
        <div class="field is-grouped is-grouped-centered">
          <p class="control"><a class="button is-primary is-large" disabled>Describe All</a></p>
        </div>
        <div class="field is-grouped is-grouped-centered">
          <p class="control"><a id="btn_describe_wikidata" class="button is-success">Describe Wikidata</a></p>
          <p class="control"><a id="btn_describe_opencitation" class="button is-link">Describe OpenCitation</a></p>
          <p class="control"><a id="btn_describe_loa" class="button is-info">Describe Load Openair</a></p>
          <p class="control"><a id="btn_describe_biotools" class="button is-warning">Describe Bio.tools</a></p>
        </div>
        <div class="control">
          <textarea id="microdata" class="textarea is-small" placeholder="Knowledge graph, in RDF, turtle syntax" rows="15"></textarea>
        </div>
      </div>
    </article>
<!-- </section> -->

<!-- <section id="section-bioschemas-check" class="section"> -->
<!--    <div class="section">-->
    <article id="article-bioschemas-check" class="message is-info">
      <div class="message-header">
        <p>Step 3: Check Graph content against BioSchemas profile</p>
      </div>
      <div class="message-body is-hidden">
        <div class="tabs is-boxed">
          <ul>
            <li id="bioschemas_tab" class="is-active">
              <a>
                <span class="icon is-small"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                <span>BioSchemas Check</span>
              </a>
            </li>
            <li id="linkeddata_tab">
              <a>
                <span class="icon is-small"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                <span>Controlled vocabularies Check</span>
              </a>
            </li>
          </ul>
        </div>

        <section id="section-BioSchemas" class="section">

            <!-- <h3 class="title is-3">BioSchemas profiles checks</h3> -->
            <p>Bioschemas is a community effort aimed at reusing and extending Schema.org for better life science digital resource findability. Several profiles are defined for each kind of Life Science resources, specifying minimal, recommended or optional information. Am I missing minimal information ? Should I provide other information for better findability ?</p>
            <br>
            <div class="field is-grouped is-grouped-centered">
              <!-- <p class="control"><a id="btn_fairness" class="button is-primary">Vocab. checks</a></p> -->
              <p class="control"><a id="btn_bioschemas" class="button is-warning is-large">Check BioSchemas </a></p>
            </div>
            <br>
            <div class="columns is-multiline is-mobile">
              <div class="column is-one-half">
                  <table class="table is-striped is-fullwidth">
                      <thead><tr><th>Requirements</th></tr></thead>
                      <tbody id="t_errors">
                      </tbody>
                  </table>
              </div>
              <div class="column is-one-half">
                  <table class="table is-striped is-fullwidth">
                      <thead><tr><th>Improvements</th></tr></thead>
                      <tbody id="t_warnings">
                      </tbody>
                  </table>
              </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
            <!-- <p class="control"><a id="btn_fairness" class="button is-primary">Vocab. checks</a></p> -->
            <p class="control"><a id="btn_annot_bioschemas" class="button is-warning is-hidden">Annotate missing BioSchemas properties</a></p>
            </div>
        </section>
        <section id="section-LinkedData" class="section is-hidden">
            <!-- <h3 class="title is-3">Controlled vocabulary checks</h3> -->
            <p>We now have a Knowledge Graph grounded to ontology concepts (classes) and relations (properties). Are these terms known in reference ontology registries such as LOV, OLS or BioPortal ? </p>
            <br>
            <div class="field is-grouped is-grouped-centered">
              <p class="control"><a id="btn_fairness" class="button is-primary is-large">Check Vocabularies</a></p>
              <!-- <p class="control"><a id="btn_bioschemas" class="button is-warning is-large">BioSchemas checks</a></p> -->
            </div>
            <br>
            <div class="columns is-multiline is-mobile">
                <div class="column is-one-half">
                    <table class="table is-striped is-fullwidth">
                        <thead><tr><th>Classes</th></tr></thead>
                        <tbody id="t_classes">
                        </tbody>
                    </table>
                </div>
                <div class="column is-one-half">
                    <table class="table is-striped is-fullwidth">
                        <thead><tr><th>Properties</th></tr></thead>
                        <tbody id="t_properties">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
      </div>
    </article>
<!--    </div>-->
<!-- </section> -->

    <article id="article-BioSchemas-annot" class="message is-info is-hidden">
      <div class="message-header">
        <p>Step 4: Annotate missing properties</p>
      </div>
      <div class="message-body">
      <section id="section-Annot" class="section">
              <div class="columns is-multiline is-mobile">
                  <div class="column is-one-half">
                      <table class="table is-striped is-fullwidth">
                          <thead><tr><th>Requirements</th></tr></thead>
                          <tbody id="t_errors_annot">
                          </tbody>
                      </table>
                  </div>
                  <div class="column is-one-half">
                      <table class="table is-striped is-fullwidth">
                          <thead><tr><th>Improvements</th></tr></thead>
                          <tbody id="t_warnings_annot">
                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="field is-grouped is-grouped-centered">
              <!-- <p class="control"><a id="btn_fairness" class="button is-primary">Vocab. checks</a></p> -->
              <p class="control"><a id="btn_submit_annot_bioschemas" class="button is-warning">Load annotations into Graph</a></p>
              </div>
      </section>
      </div>
    </article>
<!-- <section id="section-KG" class="section"> -->
<!--    <div class="section">-->
    <article id="article-KG" class="message is-info is-hidden">
      <div class="message-header">
        <p>Graph</p>
      </div>
      <div class="message-body is-hidden">
        <div class="field">
          <div class="control">
            <textarea id="microdata" class="textarea is-small" placeholder="Knowledge graph, in RDF, turtle syntax" rows="15"></textarea>
          </div>
        </div>
      </div>
    </article>

<!--    </div>-->
<!-- </section> -->









{% endblock %}
