<table class="table is-bordered is-striped is-hoverable" style="margin: auto;">
    <thead>
    <tr>
{#        <th>Implem</th>#}
        <th>Principle</th>
        <th>Name</th>
        <th>Description</th>
{#        <th>Time</th>#}
        <th>Comment</th>
        <th>Recommandation</th>
        <th>Score</th>
        <th>Result</th>
        <th>Test</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    {% for f in f_metrics %}
    <tr id="metrics_row_{{ f.id }}">
{#        <td class="vcenter hcenter">{{ f.implem }}</td>#}
        <td class="vcenter hcenter">{{ f.principle_tag }}</td>
        <td class="vcenter">{{ f.name }}</td>
        <td class="vcenter hcenter">
            <div class="popover is-popover-top">
                <button class="button is-info popover-trigger" title="Click to keep open"><i class="fa fa-info-circle"></i></button>
                <div class="popover-content" style="text-align: left; padding: 0;">
                    <article class="message is-info">
                        <div class="message-body is-size-7">
                            {{ f.description|safe }}
                            <br>
                            <br>
                            <a href="{{ f.principle }}" target="_blank">{{ f.principle }}</a>
                        </div>
                    </article>

                </div>
            </div>
        </td>
{#        <td id="row_time_{{ f.id }}" class="vcenter hcenter"></td>#}
        <td class="vcenter hcenter">
            <div class="popover is-popover-top">
                <button class="button is-primary popover-trigger" style="display: none;" title="Click to keep open"><i
                        class="fa fa-commenting-o"></i></button>
                <div id="row_comment_{{ f.id }}" class="popover-content" style="text-align: left; padding: 0;">
                    <article class="message is-primary">
                        <div class="message-body is-size-7">
                            <!-- Comment here ! -->
                        </div>
                    </article>
                </div>
            </div>
        </td>
        <!-- <td id="comment_{{ f.id }}"></td> -->
        <td class="vcenter hcenter">
            <div id="test_row_guideline_{{ f.id }}" class="content hide-content">

            </div>
                <div id="show_more_reco_{{ f.id }}" class="show-more" style="display: none;">
                    <a>... Show more</a>
                </div>

            <div class="popover is-popover-top">
                <button class="button is-link popover-trigger" style="display: none;" title="Click to keep open"><i class="fa fa-lightbulb-o"></i>
                </button>
                <div id="row_guideline_{{ f.id }}" class="popover-content" style="text-align: left; padding: 0;">
                    <article class="message is-link">
                        <div class="message-body is-size-7">
                            <!-- Guideline here ! -->
                        </div>
                    </article>
                </div>
            </div>
        </td>
        <td class="vcenter hcenter" id="row_score_{{ f.id }}" data-category="{{ f.principle_category }}"></td>
        <td class="vcenter hcenter"><span id="row_status_{{ f.id }}" class="tag is-small">Status</span></td>
        <td class="vcenter hcenter">
            <button id="test_{{ f.id }}" href="#" value="{{ f.api_url }}" class="button is-small is-info"
                    data-checkbox="checkbox_test_{{ f.id }}">Check
            </button>
        </td>
        <td class="vcenter hcenter"><button id="modal_details_{{ f.id }}" class="button is-info" data-target="modal_{{ f.id }}"><i class="fa fa-plus-square"></i></button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
