<div class="card">
    <header class="card-header">
        <div class="card-header-title">
            <p>{{ tag }} - {{ title }}</p>
        </div>
        <div class="card-header-icon" style="cursor: default;">
            <span id="status_{{ id }}" class="tag is-small">Status</span>
        </div>
        <a class="card-header-icon card-toggle">
          <i class="fa fa-angle-down"></i>
        </a>

    </header>
    <div id="metric_card_content_{{ id }}" class="card-content is-hidden">
        <article class="message is-info">
            <div class="message-header">

                <p>Description</p>
                <!-- <a href="#desc_message_{{ id }}" data-action="collapse">Collapse/Expand</a> -->
            </div>
            <div id="desc_message_{{ id }}" class="message-body is-size-7 is-collapsible">
                <div class="message-body-content">
                    {{ desc }}
                    <br>
                    <br>
                    <a href="{{ principle }}" target="_blank">{{ principle }}</a>
                </div>
            </div>
        </article>

        <article id="result_{{ id }}" class="message">
            <div class="message-header">
                <p>Result</p>
            </div>
            <div class="message-body is-size-7">
                <table hidden id="result_table_{{ id }}" class="table is-hoverable">
                    <tbody>
                        <tr>
                            <td>Score</td>
                            <td id="score_{{ id }}" data-category="{{ principle_category }}"></td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td id="time_{{ id }}">time here !</td>
                        </tr>
                        <tr>
                            <td>Comment</td>
                            <td id="comment_{{ id }}">comment here !</td>
                        </tr>
                        <tr>
                            <td>Recommendation</td>
                            {% if title == "Identifier Persistence" %}
                                <td id="guideline_{{ id }}">Your URL is not is not persistent, you could take a look at <a href="#http://www.purlz.org" target="blank_">http://www.purlz.org</a> or <a href="#https://www.doi.org/factsheets/DOI_PURL.html">https://www.doi.org/</a> for example, or any other known schema listed here: <a href="#https://fairsharing.org/standards/?q=&selected_facets=type_exact:identifier%20schema">FAIRSharing</a></td>
                            {% else %}
                                <td id="guideline_{{ id }}">Recommendations on how to improve the resource for this MI, link to other quality and recognised resources or documentation to help the user, etc</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item">
            <a id="test_{{ id }}" href="#" value="{{ api_url }}" class="button is-small is-info">Check</a>
        </div>

    </footer>
</div>
