{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<script type="text/javascript" charset="utf-8">
    $( document ).ready(function() {
        console.log( "ready!" );
        $("#notif").addClass("is-hidden");

        console.log('trying to connect...');
        var socket = io.connect('http://127.0.0.1:5000');
        //var socket = io();
        console.log('connected');

        //////////////////
        // select url to test
        //////////////////
        {% for k in sample_data.keys() %}
           $("#sample_{{k}}").on("click", function(){
               console.log(this.value) ;
               $("#url").val(this.value) ;
               $("#url").trigger('input');
               $('#sample_{{k}} option[value="{{ k }}"]').attr("selected", "selected");
           });
        {% endfor %}




        //////////////////
        // click handlers
        //////////////////

        {% for f in f_metrics %}
        $("#test_{{f.id}}").one('click', function($e){
            $e.preventDefault();
            console.log("Testing metric {{f.name}}");
            console.log("ID: " + "{{f.id}}");
            console.log("Value: " + "{{f.api_url}}");
            $(this).addClass("is-loading");


            // socket.emit('evaluate_{{f.id}}', {
            socket.emit('evaluate_metric', {
                          url: $("#url").val(),
                          api_url: "{{f.api_url}}",
                          id: "{{f.id}}",
                          principle: "{{f.principle}}",
                          uuid: $("#download_csv").data("dl"),
                        });
        });
        {% endfor %}

        //////////////////
        // event handlers
        //////////////////

        socket.on('connect', function() {
            socket.emit('hello', {data: 'I\'m connected!'});
            console.log('hello message sent');
        });

        socket.on('disconnect', function() {
            content_uuid = $("#download_csv").data("dl");
            socket.emit('disconnect', {uuid: content_uuid});
            console.log('send dc message');
        });


        {% for f in f_metrics %}
        socket.on('done_{{f.id}}', function(value) {
            console.log('DONE {{f.name}}');
            $("#test_{{f.id}}").removeClass("is-loading");
            $("#test_{{f.id}}").prop("disabled", true);

            console.log(value['time']);
            console.log(value['score']);


            // change status color
            if (value['score'] == 1) {
              $("#status_{{f.id}}").addClass("is-success");
              $("#result_{{f.id}}").addClass("is-success");
              // update_checkbox color
              $("#checkbox_test_{{f.id}}").parent("label").css('background-color','#23d160');
            } else {
              $("#status_{{f.id}}").addClass("is-danger");
              $("#result_{{f.id}}").addClass("is-danger");
              // update_checkbox color
              $("#checkbox_test_{{f.id}}").parent("label").css('background-color','#ff3860');
            }

            //update progressbar
            current = parseInt($("#p1").attr("value"));
            $("#p1").attr("value", current+1);
            // add score to result
            $("#score_{{f.id}}").text(value['score']);
            // add time to result
            $("#time_{{f.id}}").text(value['time']);
            // add comment to result
            $("#comment_{{f.id}}").text(value['comment']);
            // add recommandation if score == 0
            if (value['score'] == 0) {
              $("#guideline_{{f.id}}").text("Recommendations on how to improve the resource for this MI, link to other quality and recognised resources or documentation to help the user, etc");
            } else  {
              $("#guideline_{{f.id}}").parent("tr").hide()
            }
            // show table
            $("#result_table_{{f.id}}").show();
            // open card
            $("#metric_card_content_{{f.id}}").removeClass("is-hidden");

            // check if all metric are done
            is_loading = false
            $('[id^=test_metric_]').each(function( id ) {
              if ($(this).hasClass( "is-loading" )) {
                is_loading = true;
              }
            });
            if (!is_loading) {
              console.log("all done !!!!");
              $("#btn_test_checked").removeClass("is-loading");
              $("#btn_test_all").removeClass("is-loading");
              $("#btn_test_all").prop("disabled", false);
              $("#btn_test_checked").prop("disabled", false);
            }

            // put checkbox in tested state true and trigger change
            $("#checkbox_test_{{f.id}}").data('tested', true).trigger("change");

            update_radar_chart();

        });
        {% endfor %}

        //////////////////
        // exec all button
        //////////////////


        // check all category boxes
        $('[id^=checkbox_all_]').on('click', function($e){
          target_name = $(this).data("target");
          is_checked = $(this).prop("checked");
          $('[name=' + target_name + ']').prop("checked", is_checked).trigger("change");

        });

        // check checkbox state to disable or not "btn_test_checked"
        $('[id^=checkbox_test_]').change( function( id ) {
          is_checked = this.checked;
          is_tested = $(this).data("tested");
          is_disabled_button = $("#btn_test_checked").prop('disabled');

          $("#btn_test_checked").prop('disabled', true);

          all_tested = true;
          $('[id^=checkbox_test_]').each(function( id ) {
            is_checked = this.checked;
            is_tested = $(this).data("tested");
            is_disabled_button = $("#btn_test_checked").prop('disabled');
            if (is_disabled_button && !is_tested && is_checked) {
                $("#btn_test_checked").prop('disabled', false);
            };

            if (!is_tested) {
              all_tested = false
            };
          });

          if (all_tested) {
            $("#btn_test_all").prop("disabled", true);
          }
        });

        // start all selected metrics test
        $("#btn_test_checked").on('click', function($e){

          $("#btn_test_checked").addClass("is-loading");
          $("#btn_test_all").prop('disabled', true);

          $('[id^=checkbox_test_]').each(function( id ) {
            is_checked = $(this).prop("checked");
            target_id = $(this).data("target");

            if (is_checked) {
              console.log("gogo metric");
              console.log(target_id);
              $("#" + target_id).trigger( "click" );
            }
          });

        });

        // start all metrics test
        $("#btn_test_all").on('click', function($e){

          $("#btn_test_checked").prop('disabled', true);
          $("#btn_test_all").addClass("is-loading");


          $('[id^=test_metric_]').each(function( id ) {
            $(this).trigger( "click" );
            // console.log($(this).attr('id'))
          });
        });

        //  detect regex
        $("#url").on('input', function( id ) {
          console.log("url updated");
          doi_regex = /10.\d{4,9}\/[-._;()\/:A-Z0-9]+/gmi;
          str_url = $(this).val()
          var result = str_url.match(doi_regex);

          // console.log(n)
          if (result) {

            var doi_button = $('<button/>', {
                                              "class": "button is-small is-info is-light",
                                              "title": "Click to select only the DOI"
                                            })
                .text(result)
                .click(function () {
                  $("#url").val(result) ;
                });

            console.log("It is a DOI !");
            $("#is_doi").text("The input contains the following DOIs that you can also test: ");

            $("#is_doi").append(doi_button);

            console.log(result);
          } else {
            $("#is_doi").text("");
          };
        });

        // $("#download_csv").on('click', function($e){
        //     console.log("try download");
        //     socket.emit('download_csv');
        // });


        socket.on('long', function(value) {
            console.log('END LONG');
            $("#notif").text(value);
            $("#notif").removeClass("is-hidden");
        });

        socket.emit('fast');
        //socket.emit('slow');
        //socket.emit('long');
    });
</script>

<h1 class="title">How FAIR is my resource</h1>

<!-- description section -->
<article class="message is-info">
    <div class="message-header">
        <p>Demo context and goal</p>
    </div>
    <div class="message-body">
        <h3 class="title">Monitoring progress in FAIRification through self-assessment of resources maturity indicators</h3>
        <!-- <br> -->
        This demo is based on the FAIRMetrics framework [Wilkinson, Dumontier et al., Scientific Data 6:174] <a href="https://github.com/FAIRMetrics/Metrics">[GitHub]</a> that is composed of Maturity Indicators (MI), compliance tests and the evaluator application itself.
        For now, few efforts have been done so far to take advantage from their concrete implementation, in the process of improving FAIRness of users/community resources.
        Furthermore, existing interfaces do not provide concrete help or guidelines to developers for better sharing their published works. In this work we propose a web demonstrator, leveraging existing web APIs, aimed at i) evaluating FAIR maturity indicators and ii) providing hints to progress in the FAIRification process.
    </div>
</article>

<!-- input uri section -->
<article class="message is-info">
    <div class="message-header">
        <p>Enter or select a sample resource identifier</p>
    </div>
    <div class="message-body">
      <div class="columns is-multiline is-mobile">
          {% for k in sample_data.keys() %}
              <div class="column is-one-third">
                  <div class="field">
                      <label class="label">{{k}}</label>
                      <div class="control">

                          <div class="select">
                              <select id="sample_{{k}}">
                                  {% for s in sample_data[k] %}
                                  <option>{{ s }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
      <input id="url" name="url" class="input" type="text" placeholder="FAIR resource URL" value="http://bio.tools/bwa">
      <span><p id="is_doi"></p></span
    </div>
</article>

<!-- Start metric section -->
<article class="message is-info">
    <div class="message-header">
        <p>Start basic or advanced test (select metrics using checkboxes below)</p>
    </div>
    <div class="message-body">
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <button id="btn_test_all" class="button is-info"><i class="fa fa-bar-chart fa-fw"></i>Test all metrics</button>
            </p>
            <p class="control">
                <button id="btn_test_checked" class="button is-info" disabled="disabled"><i class="fa fa-bar-chart fa-fw"></i>Test checked metrics</button>
            </p>
            <p class="control">
                <a id="download_csv" data-dl="{{ uuid }}" class="button is-info" href="/test_asynch/csv-download/{{ uuid }}"><i class="fa fa-download fa-fw"></i>CSV</a>
            </p>
            <p class="control">
                <button onClick="window.location.reload();" class="button is-primary"><i class="fa fa-undo fa-fw"></i>Clean results</button>
            </p>
        </div>
        <progress id="p1" class="progress is-primary"  value="0" max="22"></progress>
    </div>

</article>




<!-- Metrics sselection checkboxes section -->
<article class="message is-info">
    <div class="message-header">
        <p>Select the metrics you want to test</p>
    </div>
    <div class="message-body">
        <div class="columns">
        {% for category in ['F', 'A', 'I', 'R'] %}
            <div class="is-one-quarter">
                <table id="metrics_checkboxes" class="table is-hoverable">
                    <thead>
                        <th>
                            <label class="checkbox">
                                  <input id="checkbox_all_{{ category }}" data-target="checkbox_{{ category }}" type="checkbox">
                                {{ category }} - All

                            </label>
                        </th>
                    </thead>
                    <!-- Remove hidden to show tables -->
                    <tbody>
                    <!-- <tbody hidden> -->
                    {% for f in f_metrics %}
                        {% if f.principle_category == category %}
                        <tr>
                            <th>
                                <label class="checkbox">
                                    <input name="checkbox_{{ category }}" id="checkbox_test_{{ f.id }}" data-target="test_{{ f.id }}" data-tested=false type="checkbox">
                                    {{ f.principle_tag }} - {{ f.name }}

                                </label>
                            </th>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        </div>
    </div>
</article>


<article class="message is-info">
    <div class="message-header">
        <p>Radar chart of metrics completion</p>
    </div>
    <div class="message-body">
        {% include 'radar_chart.html' %}
    </div>
</article>



<article class="message is-info">
    <div class="message-header">
        <p>List of metrics with details and completion status</p>
    </div>
    <div class="message-body">
      <div class="columns is-multiline is-mobile">
          {% for f in f_metrics %}
              <div class="column is-one-third">
                  {% set title=f.name %}
                  {% set principle=f.principle %}
                  {% set principle_category=f.principle_category %}
                  {% set tag=f.principle_tag %}
                  {% set desc=f.description %}
                  {% set api_url=f.api_url %}
                  {% set id=f.id %}
                  {% include 'metrics_card.html' with context %}
              </div>
          {% endfor %}
      </div>
    </div>
    https://github.com/IFB-ElixirFr/fair-checker.git
</article>
</div>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
	let cardToggles = document.getElementsByClassName('card-toggle');
	for (let i = 0; i < cardToggles.length; i++) {
		cardToggles[i].addEventListener('click', e => {
			e.currentTarget.parentElement.parentElement.childNodes[3].classList.toggle('is-hidden');
		});
	}
});
</script>

{% endblock %}
