<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {

    var menu_list_elem = $("#fc_navbar").find("a.navbar-item");
    menu_list_elem.each(function () {
      menu_href = $(this).attr('href');
      page_href = $(location).attr('pathname');
      if (menu_href == page_href) {
        $(this).addClass("is-active");
      }
    });

    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function () {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

    });
  });
</script>

<nav  id="fc_navbar" class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for('home') }}">
      <b>FAIR-Checker</b>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

  </div>

  <div class="navbar-menu">
    <div class="navbar-start">

      <!-- Left side of the nav-bar -->
      <a class="navbar-item" href="{{ url_for('check') }}">
        Check
      </a>
      <a class="navbar-item" href="{{ url_for('inspect') }}">
        Inspect
      </a>
      <a class="navbar-item" href="{{ url_for('about') }}">
        About us
      </a>
      <a class="navbar-item" href="{{ url_for('doc') }}">
        API
      </a>

    </div>

    <!-- Right side of the nav-bar -->
    <div class="navbar-end">

      <a class="navbar-item" href="{{ url_for('documentation', filename='index.html') }}" target="_blank">
        Documentation
      </a>

      <a class="navbar-item" href="{{ url_for('statistics') }}">
        Statistics
      </a>

      <a class="navbar-item" href="https://github.com/IFB-ElixirFr/fair-checker/issues" target="_blank">
        Feedbacks
      </a>
      <a class="navbar-item" href="https://github.com/IFB-ElixirFr/fair-checker" target="_blank">
        <i class="fa fa-github fa-fw"></i>&nbsp;Github
      </a>
    </div>
  </div>
</nav>