{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}


<div class="content">
    <div class="block">
        Welcome to FAIR-Checker! These Terms of Use govern your use of our website. By accessing or using FAIR-Checker, you agree to comply with and be bound by these terms. If you do not agree to these terms, please do not use our website.
    </div>
</div>

<h2 class="title">Acceptance of Terms</h2>
<div class="content">
    <div class="block">
        By accessing or using FAIR-Checker, you agree to these Terms of Use and any applicable laws and regulations. If you do not agree with these terms, you are prohibited from using or accessing this site.
    </div>
</div>

<h2 class="title">Use of Service</h2>
<div class="content">
    <div class="block">
        You agree to use FAIR-Checker for lawful purposes only and in a way that does not infringe the rights of, restrict, or inhibit anyone else's use and enjoyment of the website. 
        
        FAIR-Checker is a free, public, Internet-accessible resource (the "Service"). Data transfer is encrypted. Data storage is not encrypted.
    </div>
</div>

<h2 class="title">Information Collected</h2>
<div class="content">
    <div class="block">
        FAIR-Checker does not store any personal information. FAIR-Checker does not use cookies. To monitor usage and compute statistics, we anonymously store the URLs submitted by the users, as well as the evaluation results computed by FAIR-Checker.
    </div>
</div>

<h2 class="title">Security</h2>
<div class="content">
    <div class="block">
        The Service Operators use reasonable security measures to protect against the loss, misuse, and alteration of the information and Data under our control. 
    </div>
</div>


<h2 class="title">Changes to Terms</h2>
<div class="content">
    <div class="block">
        FAIR-Checker reserves the right to change, modify, or update these Terms of Use at any time without prior notice. Your continued use of the website after any changes are posted constitutes your acceptance of the new terms.
    </div>
</div>

<h2 class="title">Intellectual Property</h2>
<div class="content">
    <div class="block">
        All content included on FAIR-Checker, such as text, graphics, logos, images, and software, is the property of CNRS or its content suppliers and is protected by applicable intellectual property laws. Unauthorised use of any materials on FAIR-Checker may violate copyright, trademark, and other laws.
    </div>
</div>

<h2 class="title">Limitation of Liability</h2>
<div class="content">
    <div class="block">
        FAIR-Checker and its affiliates, partners, and contributors are not liable for any damages arising from your use of, or inability to use, the website or any content provided on the website. This includes, but is not limited to, direct, indirect, incidental, consequential, and punitive damages.
    </div>
</div>

<h2 class="title">Disclaimer of Warranties</h2>
<div class="content">
    <div class="block">
        The website is provided on an "as is" and "as available" basis. FAIR-Checker makes no warranties, expressed or implied, regarding the operation of the website or the information, content, or materials included on the website. 
    </div>
</div>

<h2 class="title">Contact information</h2>
<div class="content">
    <div class="block">
        If you have any questions about this privacy policy, the practices of this site, or your dealings with this site, you can contact: alban /dot/ gaignard /at/ univ-nantes.fr.
    </div>
</div>

<div class="block has-text-centered">
This policy was last modified: 19/06/2024.
</div>

{% endblock %}